<div class="transform-hero position-relative" style="background: linear-gradient(173deg, white 49.88%,#00a6e2 50.12%, #00a6e2 100%);">
  <div class="absolute-at-medium" style="top:0;left:0;width: 100%;">
    <div class="row-wrapper">
      <div class="row">
        <div class="column">
          <div class="gutter-top"></div>
          <div class="gutter-all show-for-large"></div>
          <div class="text-center position-relative">
            <h1 class="text-flex-32-72 weight-black">Strength in Stability</h1>
            <h2 class="text-flex-21-28 weight-normal accent-primary">Serving our mission, <br class="show-for-medium"><span class="no-wrap">delivering results.</span></h2>            
          </div>
        </div>
      </div>
    </div>   
  </div>
  <div style="landing-band">
    <div class="row-wrapper">
      <div class="row gutter-bottom position-relative" style="overflow:hidden;">
        <div class="column">
          <img class="family-scene" src="/transform/images/hero_family-scene.svg" alt="">
        </div>
        <div class="absolute-at-medium column medium-push-6 medium-6 large-push-6 large-6"  style="bottom:0; right:0;">
          <div class="callout small-to-large"></div>
          <div class="gutter-left-xlarge-only gutter-bottom text-center">
            <div class="weight-normal text-flex-21-28 position-relative accent-white">Since 1970, we've made<br> home possible nearly </div>
            <div class="text-flex-36-52 weight-black uppercase accent-white stretch-at-large" style="line-height: 1.15">80 million times</div>  
            <div class="show-for-large gutter-top text-flex-36-52"></div>  
            <div class="callout show-for-xlarge"></div> 
            <div class="show-at-medium-large text-flex-16-32"></div>
          </div>
          <div class="callout large no-margin show-for-medium"></div>  
        </div>
      </div> 
    </div> 
  </div>    
</div>