<style>
.landing-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center top; }

.transformation-landing-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 46, 45, 0)), to(rgba(46, 46, 45, 0))), url("/transform/images/hero_transformation-gradient2.jpg");
  background-image: -o-linear-gradient(rgba(46, 46, 45, 0), rgba(46, 46, 45, 0)), url("/transform/images/hero_transformation-gradient2.jpg");
  background-image: linear-gradient(rgba(46, 46, 45, 0), rgba(46, 46, 45, 0)), url("/transform/images/hero_transformation-gradient2.jpg");
  background-position: 70% center; }
  @media screen and (min-width: 61.25em) {
    .transformation-landing-hero {
      background-position: center 60%; } }
  @media screen and (min-width: 78.75em) {
    .transformation-landing-hero {
      background-position: center center; } }
  @media screen and (min-width: 93.75em) {
    .transformation-landing-hero {
      background-position: center 40%; } }

.transformation-title-container {
  padding-top: 50px; }

.banner-partners {
  background-image: url("/transform/images/bhf-industry-partners.jpg"); }

.stripes-left-right {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(46%, transparent), color-stop(0, rgba(0, 0, 0, 0.095)), color-stop(54%, rgba(0, 0, 0, 0.095)), color-stop(0, transparent));
  background-image: -o-linear-gradient(left bottom, transparent 46%, rgba(0, 0, 0, 0.095) 0, rgba(0, 0, 0, 0.095) 54%, transparent 0);
  background-image: linear-gradient(to right top, transparent 46%, rgba(0, 0, 0, 0.095) 0, rgba(0, 0, 0, 0.095) 54%, transparent 0);
  background-size: 10px 10px; }


</style>
<!-- // HERO IMAGE -->
<div class="transformation-landing-hero landing-hero background-gray landing-inner-band">
  <div class="row-container text-center">
    <div class="row">
      <div class="column">
        <div class="callout small-to-large">
        </div>
        <div class="transformation-title-container">
          <h1 class="text-flex-32-72 gutter-bottom" style="margin-top:2em;">Our Transformation
            <div class="text-flex-18-34 weight-normal">A Better Freddie Mac, a Better Housing Finance System</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END HERO IMAGE -->
<div class="footer-bottom-edge"> </div>



<!-- // ODOMETER -->
<div class="landing-band background-green gutter-top gutter-bottom" style="background-color: #8CC11F;">
  <div class="row-container text-center gutter-bottom">
    <div class="row">
      <div class="column large-11 large-centered">
        <p class="text-flex-22-42">Since 1970, we've made home possible nearly<br/><strong class="text-flex-36-60 weight-bold">78 million</strong> times.</p>
        <div class="odometer1 gutter-top">
          <div class="odometer-number">
            <div class="odometer-building7 speed8"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-house9 speed7"></div>
          </div>
          <div class="odometer-separator-comma show-for-medium">
          </div>
          <div class="odometer-number">
            <div class="odometer-building0 speed6"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-house0 speed5"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-building0 speed4"></div>
          </div>
          <div class="odometer-separator-comma show-for-medium">
          </div>
          <div class="odometer-number">
            <div class="odometer-building0 speed3"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-house0 speed2"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-house0 speed1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END ODOMETER -->

<!-- // 3 BOXES SECTION -->
<div class="landing-band background-concrete">
  <div class="row-container text-center">
    <div class="row">
      <div class="column">
        <h2 class="text-flex-22-42 weight-bold gutter-bottom-large">A Stronger Company</h2>
        <div class="text-flex-18-24 weight-normal gutter-bottom" style="color:#777874">Over the past year…</div>
      </div>
    </div>   
    <div class="row large-up-3 vertical-center-equalizers" data-equalizer>
      <div class="column">
        <div class="callout small">
          <div class="callout" style="border: 10px solid #D7D7D7; background-color: #fff;" data-equalizer-watch>
            <h3 class="weight-medium text-flex-16-20 gutter-top gutter-bottom">We provided <br><span class="text-flex-18-38 weight-black" style="color:#88BD45">396 billion</span> <br>in funding to the mortgage market</h3>
          </div>
        </div>    
      </div>  
      <div class="column">
        <div class="callout small">
          <div class="callout" style="border: 10px solid #D7D7D7; background-color: #fff;" data-equalizer-watch>
            <h3 class="weight-medium text-flex-16-20 gutter-top gutter-bottom">We helped helped make home possible for over <br><span class="text-flex-18-38 weight-black" style="color:#88BD45">2.2 million</span><br> families</h3>
          </div>  
        </div>  
      </div> 
      <div class="column">
        <div class="callout small">
          <div class="callout" style="border: 10px solid #D7D7D7; background-color: #fff;" data-equalizer-watch>
            <h3 class="weight-medium text-flex-16-20 gutter-top gutter-bottom full">We reported <br><span class="text-flex-18-38 weight-black" style="color:#88BD45">$9.2 billion</span><br> in net income </h3>
          </div>  
        </div>  
      </div> 
    </div>
  </div>
</div>
<!-- END 3 BOXES SECTION -->

<!-- // LIGHT GREEN BLURB SECTION -->
<div class="landing-band background-pear">
  <div class="row-container text-center">
    <div class="row">
      <div class="column">
      <p class="text-flex-22-42">We’ve returned <strong class="text-flex-36-60 accent-white weight-bold">$116.5 billion</strong> to taxpayers, 
      <strong class="text-flex-36-60 accent-white weight-bold">63%</strong> more than we received from the U.S. Treasury.</p>
      </div>
    </div>
  </div>
</div>
<!-- // END LIGHT GREEN BLURB SECTION -->
<!-- // GRAY QUOTE SECTION -->
<div class="landing-band background-concrete stripes-left-right">
  <div class="row-container" style="background-image: url(images/quotes.png); background-repeat: no-repeat; background-position: right top;">
    <div class="row">
      <div class="column small-12 medium-8 medium-offset-2">
        <div class="text-flex-24-32 weight-black gutter-bottom gutter-top">&ldquo;Our transformed business model continues to produce solid earnings while helping us fulfill our mission of promoting liquidity, stability and affordability to the housing market.&rdquo;</div>
        <div class="text-flex-18-24 weight-light">Donald H. Layton, CEO</div>
      </div>
    </div>  
  </div>
</div>
<!-- END GRAY QUOTE SECTION -->


{{> transform-timeline}}
    

  
<!-- // CARD SECTION -->
<div class="landing-band">
  <div class="row-container">
    <div class="row text-center">
      <div class="column small-12">
        <div class="text-flex-26-42 weight-bold gutter-bottom">Innovating for the Market</div>
      </div>
    </div>
    <div class="row text-center large-text-left">
      <div class="column small-12 medium-10 medium-offset-1 large-4 large-offset-0 gutter-bottom">
        <div class="gutter-bottom"><a class="overlay" href="https://freddiemac.gcs-web.com/news-releases/news-release-details/freddie-mac-introduces-innovative-appraisal-alternative-home" rel="external"><img src="images/thumb_ACE.jpg" alt="ACE"></a></div>
        <div class="text-flex-18-30 weight-normal"><a href="https://freddiemac.gcs-web.com/news-releases/news-release-details/freddie-mac-introduces-innovative-appraisal-alternative-home" rel="external">ACE</a></div>
        <div class="text-static-16-18 weight-normal accent-gray"><p>Our automated appraisal alternative can save borrowers money and offers lenders more peace of mind when they sell the loan to us.</p></div>
      </div>
      <div class="column small-12 medium-10 medium-offset-1 large-4 large-offset-0 gutter-bottom">
        <div class="gutter-bottom"><a class="overlay" href="/mbs/single-security/"><img src="images/thumb_singlesecurity.jpg" alt="Single Security"></a></div>
        <div class="text-flex-18-30 weight-normal"><a href="/mbs/single-security/">Single Security</a></div>
        <div class="text-static-16-18 weight-normal accent-gray"><p>The Single Security will pave the way for a $3.5 Trillion TBA MBS market this year.</p></div>
      </div>
      <div class="column small-12 medium-10 medium-offset-1 end large-4 large-offset-0 gutter-bottom">
        <div class="gutter-bottom"><a class="overlay" href="https://mf.freddiemac.com/news/2018/20180716-mezzanine-loans.html"><img src="images/thumb_mezz.jpg" alt="Mezzanine Financing"></a></div>
        <div class="text-flex-18-30 weight-normal"><a href="https://mf.freddiemac.com/news/2018/20180716-mezzanine-loans.html">Mezzanine Financing</a></div>
        <div class="text-static-16-18 weight-normal accent-gray"><p>Our Mezzanine financing makes it easier for property owners to keep rents affordable for low-income and working families.</p></div>
      </div>
    </div>  
  </div>
</div>
<!-- END CARD SECTION -->

<!-- // BLUE ODOMETER SECTION -->
<div class="landing-band background-blue stripes-left-right">
  <div class="row-container text-center" style="color:#fff">
    <div class="row">
      <div class="column small-12">
        <div class="text-flex-26-42 weight-bold gutter-bottom-large">A Safer, Sounder System</div>
        <div class="text-flex-18-24 weight-normal gutter-bottom">Through our pioneering credit risk offerings, we’re creating a better housing finance system that's good for the industry, investors and America's taxpayers. Since 2009, we&rsquo;ve transferred a portion of mortgage credit risk on nearly</div>
        <!-- // BEGIN ODOMETER  -->
        <div aria-hidden="true" class="odometer2 gutter-top">
          <div class="dollarsign">
            <img alt="$" src="images/dollarsign.png" class="no-border">
          </div>
          <div class="odometer-number">
            <div class="odometer-1"></div>
          </div>
          <div class="odometer-separator-period">
          </div>
          <div class="odometer-number">
            <div class="odometer-5"></div>
          </div><br class="hide-for-large">
          <div class="odometer-number">
            <div class="odometer-t speed6"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-r speed5"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-i speed4"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-l speed3"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-l speed2"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-i speed1"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-o speed1"></div>
          </div>
          <div class="odometer-number">
            <div class="odometer-n speed1"></div>
          </div>
        </div>
        <!-- // END ODOMETER -->
        
        <div class="text-flex-26-42 weight-bold uppercase">of mortgages</div>
      </div>
    </div>  
  </div>
</div>
<!-- END BLUE ODOMETER SECTION -->

<!-- // WORD COLLAGE SECTION -->
<div class="landing-band" style="background-color: #bfe8f8;">
  <div class="row-container text-center gutter-bottom">
  <div class="row large-up-2" data-equalizer>
    <div class="column">
      <div class="table">
        <div class="table-cell vertical-middle" data-equalizer-watch>
          <p class="text-flex-24-32 accent-dark-gray text-center large-text-left enlarge">Since our credit risk transfer program began in 2009, we've added <strong>new products</strong> to meet the increasing demand, from over <strong>800 investors</strong>.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="table">
          <div class="table-cell vertical-middle" data-equalizer-watch>       
            <p><img aria-hidden="true" class="no-border full" alt="" src="images/bhf_word_cloud.png"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END WORD COLLAGE SECTION -->
    
<!-- //  VIDEO ROTATOR -->
<div class="landing-band background-primary">
  <div class="row-container text-center">
    <div class="row">
      <div class="column small-11 small-centered large-10">
        <div class="orbit orbit-controls-outside ease" role="region" aria-label="video slides" data-auto-play="false" data-orbit data-bullets="false">
          <ul class="orbit-container">
            <li class="orbit-slide"> 
              <div class="text-flex-22-42 weight-bold gutter-bottom-large">Innovating Small Delivers Big Results</div>
              <div class="gutter-top gutter-bottom">
                  <a class="video-modal widescreen-video overlay block" href="https://www.youtube.com/watch?v=eoELzwjSep0"  data-src="//www.youtube-nocookie.com/embed/eoELzwjSep0?rel=0&amp;wmode=transparent"><img src="images/video_innovatingsmall.jpg"></a>
              </div>
              <div class="text-flex-16-24 weight-normal gutter-bottom">We&rsquo;ve helped keep nearly 300,000 rental units affordable to working families since launching our innovative Small Balance Loan program in 2014.</div>
            </li>
            <li class="orbit-slide">
              <div class="text-flex-22-42 weight-bold gutter-bottom-large">Doing More for Affordable Housing</div>
              <div class="gutter-top gutter-bottom">
                <a class="video-modal widescreen-video overlay block" href="https://www.youtube.com/watch?v=ijpTEUO-j9g"  data-src="//www.youtube-nocookie.com/embed/ijpTEUO-j9g?rel=0&amp;wmode=transparent"><img src="images/video_doingmore.jpg"></a>
              </div>
              <div class="text-flex-16-24 weight-normal gutter-bottom">Our commitment to provide safe and affordable housing in underserved markets during all economic conditions is a mission that matters.</div>   
            </li>
          </ul>
        </div>
      </div> 
    </div>  
  </div>
</div>
<!-- END VIDEO ROTATOR -->

 <!-- // BANNER 3 -->
<div class="notch-wrapper">
  <div class="banner-partners background-gray landing-hero landing-inner-band">
    <div class="row-container text-center gutter-bottom">
      <div class="row">
        <div class="column">
          <div class="callout small-to-large"></div>        
          <div class="callout small-to-large">
            <h2 class="text-flex-36-60">We&rsquo;re Proud to be Part of the Industry</h2>
          </div>
          <div class="callout small-to-large"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="notch-top-v background-yellow"></div>
  <div class="notch-top-v background-white"></div>
</div>
<!-- // BANNER 3 -->



<!-- // FOUR COLUMN BLURBS WITH ICONS -->
<div class="landing-band">
  <div class="row-container text-center gutter-bottom gutter-top">
    <div class="row large-up-4">
      <div class="column">
        <p><img alt="" src="images/industry_partners_icon_1.svg" style="height:100px;"></p>
        <h2>Innovation</h2>
        <div class="callout small">
          <p class="text-flex-15-18 weight-normal" style="">We're dedicated to automation and innovation that bring more efficiencies to the housing market.</p>
        </div>
      </div>
      <div class="column">
        <p><img alt="" src="images/industry_partners_icon_2.svg" style="height:100px;"></p>
        <h2>Technology</h2>
        <div class="callout small">
          <p class="text-flex-15-18 weight-normal" style="padding:15px;">We're focused and investing in technology that's lowering costs across the housing industry, while helping to serve more families.</p>
        </div>
      </div>
      <div class="column">
        <p><img alt="" src="images/industry_partners_icon_3.svg" style="height:100px;"></p>
        <h2>Commitment</h2>
        <div class="callout small">
          <p class="text-flex-15-18 weight-normal" style="padding:15px;">We're committed to serving the industry by building a better and more sound housing finance system.</p>
        </div>
      </div>
      <div class="column">
        <p><img alt="" src="images/industry_partners_icon_4.svg" style="height:100px;"></p>
        <h2>Excellence</h2>
        <div class="callout small">
          <p class="text-flex-15-18 weight-normal" style="padding:15px;">We're working closely with our customers to meet their needs and help them remain strong and competitive.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END FOUR COLUMN BLURBS WITH ICONS -->
