<!-- TIMELINE SECTION -->
<div class="background-offwhite" style=" overflow: hidden;">        
  <div class="landing-band">
    <div class="row-container-stretch">
      <div class="row text-center gutter-bottom">
        <div class="column position-relative">
          <h2 class="text-flex-36-52 weight-black gutter-bottom"><span class="bubble6"></span><span class="position-relative">Our Transformation Timeline</span></h2>
        </div>
      </div>
      <div class="row">            
        <div class="column position-relative text-center">
          <div class="gutter-top gutter-bottom" style="max-width: 1200px; margin: 0 auto;"> 
            <div class="gutter-all-large half-gutter-medium-only background-white">          
              <div class="float-right bubble5"></div>
              <div class="float-left bubble7"></div>
              <div class="timeline-holder">              
                <ul class="timeline-menu" >  
                  <li onmouseover='timelinenav("2009","2009-1-data");' class="timeline-menu-item active" id="nav-2009"><strong>2009</strong>
                  </li>  
                  <li onmouseover='timelinenav("2010","2010-1-data");' class="timeline-menu-item" id="nav-2010"><strong>2010</strong>
                  </li>  
                  <li onmouseover='timelinenav("2012","2012-1-data");' class="timeline-menu-item" id="nav-2012"><strong>2012</strong>
                  </li>  
                  <li onmouseover='timelinenav("2013","2013-1-data");' class="timeline-menu-item" id="nav-2013"><strong>2013</strong>
                  </li>  
                  <li onmouseover='timelinenav("2014","2014-1-data");' class="timeline-menu-item" id="nav-2014"><strong>2014</strong>
                  </li>  
                  <li onmouseover='timelinenav("2015","2015-1-data");' class="timeline-menu-item" id="nav-2015"><strong>2015</strong>
                  </li>  
                  <li onmouseover='timelinenav("2016","2016-1-data");' class="timeline-menu-item" id="nav-2016"><strong>2016</strong>
                  </li>  
                  <li onmouseover='timelinenav("2017","2017-1-data");' class="timeline-menu-item" id="nav-2017"><strong>2017</strong>
                  </li>  
                  <li onmouseover='timelinenav("2018","2018-1-data");' class="timeline-menu-item" id="nav-2018"><strong>2018</strong>
                  </li>
                  <li onmouseover='timelinenav("2019","2019-1-data");' class="timeline-menu-item" id="nav-2019"><strong>2019</strong>
                  </li>
                </ul>
                <div class="timeline-outer background-white" id="timeline-outer">          
                  <div class="timeline">  
                    <div class="timeline-item active" id="2009" onmouseover='timelinesubnav("2009","2009-1-data","2009");'  onclick='timelinesubnav("2009","2009-1-data","2009");'>    
                      <div class="timeline-year">      2009     
                      </div>    
                      <div class="timeline-icon">           
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">February 2009
                        </p>      
                        <p class="accent-dark-gray">Assistance Programs for Struggling Homeowners 
                        </p>           
                      </div>    
                      <div class="timeline-text-small">        
                        <div class="timeline-text-header">    <strong>February 2009 | Assistance Programs for Struggling Homeowners </strong>  
                        </div>  
                        <p>Freddie Mac launches the Making Home Affordable program to help borrowers struggling to make their mortgage payment get a loan modification and homeowners who owed more on their mortgage than their home was worth refinance. Through HAMP, HARP and other programs we’ve helped millions of homeowners stay in their homes.</p>  
                      </div>
                      <div class="timeline-text-small">  
                        <hr>  
                        <div class="timeline-text-header">    <strong>June 2009 | Multifamily Risk Transfer Program</strong>  
                        </div>  
                        <p>Freddie Mac Multifamily releases the first modern multifamily securitization, known as a K-Deal, which shifts a portion of the risk away from U.S. taxpayers to private investors. </p>
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2009-2" onmouseover='timelinesubnav("2009","2009-2-data","2009-2");'  onclick='timelinesubnav("2009","2009-2-data","2009-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">June 2009
                        </p>      
                        <p>Multifamily Risk Transfer Program   
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2010" onmouseover='timelinesubnav("2010","2010-1-data","2010");'  onclick='timelinesubnav("2010","2010-1-data","2010");'>    
                      <div class="timeline-year">      2010     
                      </div>    
                      <div class="timeline-icon">          
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">January 2010
                        </p>      
                        <p>Borrower Help Centers 
                        </p>    
                      </div>    
                      <div class="timeline-text-small">      
                        <div class="timeline-text-header">        <strong>January 2010 | Borrower Help Centers </strong>      
                        </div>      
                        <p>Freddie Mac establishes on-the-ground Borrower Help Centers and national phone network with trusted non-profit intermediaries to help homeowners with Freddie Mac-owned mortgages avoid foreclosure. Today, our 14 Borrower Help Centers also work to prepare prospective homebuyers for successful homeownership.</p>           
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2012" onmouseover='timelinesubnav("2012","2012-1-data","2012");'  onclick='timelinesubnav("2012","2012-1-data","2012");'>    
                      <div class="timeline-year">      2012     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">September 2012
                        </p>      
                        <p>Return to Profitability
                        </p>    
                      </div>    
                      <div class="timeline-text-small">  
                        <div class="timeline-text-header">    <strong>September 2012 | Return to Profitability</strong>  
                        </div>  
                        <p>Freddie Mac’s return to profitability in third quarter of 2012 allows us to pay a $1.8 billion dividend to the U.S Treasury.</p>
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2013" onmouseover='timelinesubnav("2013","2013-1-data","2013");'  onclick='timelinesubnav("2013","2013-1-data","2013");'>    
                      <div class="timeline-year">      2013     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">July 2013
                        </p>      
                        <p>Single-Family Credit Risk Transfer Program  
                        </p>    
                      </div>    
                      <div class="timeline-text-small">      
                        <div class="timeline-text-header">        <strong>July 2013 | Single-Family Credit Risk Transfer Program  </strong>      
                        </div>  
                        <p>Freddie Mac launches its Single-Family Structured Agency Credit Risk (STACR®) securitization to transfer credit risk exposure from U.S. taxpayers to private investors. We later introduced additional credit risk transfer offerings, including the Agency Credit Insurance Structure (ACIS®), our insurance-based credit risk sharing vehicle.
                        </p>
                      </div> 
                      <div class="timeline-text-small">  
                        <hr> 
                        <div class="timeline-text-header"><strong>December 2013 | Total Payments to the U.S. Treasury Reaches Amount Borrowed</strong>
                        </div> 
                        <p>Freddie Mac’s total payments to the U.S. Treasury reach nearly $72 billion borrowed. </p> 
                      </div>   
                      <div class="arrow">>
                      </div>  
                    </div> 
                    <div class="timeline-item" id="2013-2" onmouseover='timelinesubnav("2013","2013-2-data","2013-2");'  onclick='timelinesubnav("2013","2013-2-data","2013-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">December 2013
                        </p>      
                        <p>Total Payments to the U.S. Treasury Reaches Amount Borrowed
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2014" onmouseover='timelinesubnav("2014","2014-1-data","2014");'  onclick='timelinesubnav("2014","2014-1-data","2014");'>    
                      <div class="timeline-year">      2014     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">August 2014
                        </p>      
                        <p>First Non-Performing Loan Sale
                        </p>    
                      </div>    
                      
                      <div class="timeline-text-small">  
                        <div class="timeline-text-header">    <strong>August 2014 | First Non-Performing Loan Sale</strong>  
                        </div>
                        <p>Freddie Mac begins to actively reduce less liquid assets from its investment portfolio and completes first non-performing loan sale. We’re now considered an industry leader in innovative sales of non-performing and reperforming loans.
                        </p>
                      </div>
                      <div class="timeline-text-small">  
                        <hr>  
                        <div class="timeline-text-header">    <strong>October 2014 | Small Balance Loan Program </strong>  
                        </div>  
                        <p>Freddie Mac Multifamily launches innovative Small Balance Loan program to help small rental property owners and provide stability in the market. Since launching the program, we've financed over 350,000 rental units, helping preserve affordable housing nationwide.   
                        </p>  
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>      
                    <div class="timeline-item" id="2014-2" onmouseover='timelinesubnav("2014","2014-2-data","2014-2");'  onclick='timelinesubnav("2014","2014-2-data","2014-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">October 2014
                        </p>      
                        <p>Small Balance Loan Program
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2015" onmouseover='timelinesubnav("2015","2015-1-data","2015");'  onclick='timelinesubnav("2015","2015-1-data","2015");'>    
                      <div class="timeline-year">      2015     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">October 2015
                        </p>      
                        <p>LAS Offers Digital Tools for Managing Single-Family Mortgages
                        </p>    
                      </div>    
                      <div class="timeline-text-small">  
                        <div class="timeline-text-header">    <strong>October 2015 | LAS Offers Digital Tools for Managing Single-Family Mortgages</strong>  
                        </div>  
                        <p>Freddie Mac Single-Family introduces Loan Advisor Suite® to give lenders simpler tools, better efficiency, easier navigation, and more reliability for delivering quality loans.</p>
                      </div> 
                      <div class="timeline-text-small">  
                        <hr>  
                        <div class="timeline-text-header">    <strong>December 2015 | Leading Multifamily Lender</strong>  
                        </div>  
                        <p>Freddie Mac became the nation’s top multifamily financier in 2015, a distinction it has retained for four consecutive years. In 2018, we financed a record-setting $78 billion in total production, besting our prior record of $73.2 billion set in 2017.</p>
                      </div>   
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2015-2" onmouseover='timelinesubnav("2015","2015-2-data","2015-2");'  onclick='timelinesubnav("2015","2015-2-data","2015-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">December 2015
                        </p>      
                        <p>Leading Multifamily Lender
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div> 
                    <div class="timeline-item" id="2016" onmouseover='timelinesubnav("2016","2016-1-data","2016");'  onclick='timelinesubnav("2016","2016-1-data","2016");'>    
                      <div class="timeline-year">      2016     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">December  2016
                        </p>      
                        <p>Single Security and Common Securitization Platform
                        </p>    
                      </div>    
                      <div class="timeline-text-small">  
                        <div class="timeline-text-header">    <strong>December 2016 | Single Security and Common Securitization Platform</strong>  
                        </div>  
                        <p>Freddie Mac begins using the Common Securitization Platform to perform bond administration activities for the majority of its Single-Family fixed-rate mortgage-backed securities.  This important milestone paves the way for the go-live of the Single Security Initiative in June 2019, when Freddie Mac and Fannie Mae will begin issuing Uniform-Mortgage Backed Securities (UMBS), through a combined $4 trillion to-be-announced (TBA) market.    </p>
                      </div>   
                      <div class="arrow">>
                      </div>  
                    </div>   
                    <div class="timeline-item" id="2017" onmouseover='timelinesubnav("2017","2017-1-data","2017");'  onclick='timelinesubnav("2017","2017-1-data", "2017");'>    
                      <div class="timeline-year">      2017     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">January 2017
                        </p>      
                        <p>Single-Family Serious Delinquency Rate Dips Below 1%
                        </p>    
                      </div>    
                      <div class="timeline-text-small" >  
                        <div class="timeline-text-header">    <strong>January 2017 | Single-Family Serious Delinquency Rate Dips Below 1%</strong>  
                        </div>  
                        <p>Freddie Mac's Single-Family serious delinquency rate —those homeowners more than 90 days past due or in foreclosure — dipped below 1% for the first time in nearly a decade. </p>
                      </div>
                      <div class="timeline-text-small">    
                        <hr>  
                        <div class="timeline-text-header">    <strong>May 2017 | Innovative Appraisal Alternative</strong>  
                        </div>  
                        <p>Freddie Mac introduces its innovative automated collateral evaluation (ACE) that offers an automated appraisal alternative that can save borrowers an average of $500 on the cost of an appraisal and provides lenders more peace of mind when they sell the loan to Freddie Mac.</p>
                      </div> 
                      <div class="timeline-text-small">    
                        <hr>  
                        <div class="timeline-text-header">    <strong>June 2017 |  Multifamily $200 Billion in Risk Transfer Milestone </strong>  
                        </div>  
                        <p>In reaching this milestone, Freddie Mac’s risk transfer transactions greatly reduce the company’s and the U.S. taxpayer’s exposure to risk. Freddie Mac currently securitizes about 90 percent of the Multifamily mortgages it purchases through the K- and SB-Deal programs. </p>
                      </div>                   
                      <div class="arrow">>
                      </div>  
                    </div> 
                    <div class="timeline-item" id="2017-2" onmouseover='timelinesubnav("2017","2017-2-data","2017-2");'  onclick='timelinesubnav("2017","2017-2-data","2017-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">May 2017
                        </p>      
                        <p>Innovative Appraisal Alternative
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div> 
                    <div class="timeline-item" id="2017-3" onmouseover='timelinesubnav("2017","2017-3-data","2017-3");'  onclick='timelinesubnav("2017","2017-3-data", "2017-3");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">June 2017
                        </p>      
                        <p>Multifamily $200 Billion in Risk Transfer Milestone
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                      
                    <div class="timeline-item" id="2018" onmouseover='timelinesubnav("2018","2018-1-data","2018");'  onclick='timelinesubnav("2018","2018-1-data","2018");'>    
                      <div class="timeline-year">      2018     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">February 2018
                        </p>      
                        <p>Mortgage-Related Investments Portfolio Drops Below $250 Billion
                        </p>    
                      </div>    
                      <div class="timeline-text-small">  
                        <div class="timeline-text-header">    <strong>February 2018 | Mortgage-Related Investments Portfolio Drops Below $250 Billion</strong>  
                        </div>  
                        <p>Freddie Mac’s total mortgage-related investments portfolio drops from over $867 billion in March 2009 to $247 billion as of February 2018, below the 2018 year-end Purchase Agreement cap of $250 billion. The portfolio has further declined to $236 billion as of the end of the second quarter of 2018.</p>
                      </div>
                      <div class="timeline-text-small">    
                        <hr>  
                        <div class="timeline-text-header">    <strong>May 2018 | Historically Low Multifamily Delinquency Rate</strong>  
                        </div>  
                        <p>Thanks to strong underwriting, Freddie Mac Multifamily’s delinquency rate drops to 0.01%, a historic low.</p>
                      </div>
                      <div class="timeline-text-small">    
                        <hr>  
                        <div class="timeline-text-header">    <strong>June 2018 |  Single-Family $1 Trillion Credit Risk Transfer Milestone</strong>  
                        </div>   
                        <p>Freddie Mac announces that we have transferred a significant portion of mortgage credit risk to private investors on more than $1 trillion of single-family mortgages. Combined, we have transferred a portion of risk on $1.6 trillion in Single-Family and Multifamily mortgages away from taxpayers.</p>
                      </div>
                      <div class="timeline-text-small">    
                        <hr>  
                        <div class="timeline-text-header">    <strong>November 2018 | $50 Billion Home Possible<sup>®</sup> Mortgage Milestone</strong>  
                        </div>  
                        <p>With this milestone, we helped make homeownership a reality for more than 270,000 low- to moderate-income families.</p>  
                      </div> 
                         
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2018-2" onmouseover='timelinesubnav("2018","2018-2-data","2018-2");'  onclick='timelinesubnav("2018","2018-2-data","2018-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">May 2018
                        </p>      
                        <p>Historically Low Multifamily Delinquency Rate
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2018-3" onmouseover='timelinesubnav("2018","2018-3-data","2018-3");'  onclick='timelinesubnav("2018","2018-3-data","2018-3");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">June 2018
                        </p>      
                        <p>Single-Family $1 Trillion Credit Risk Transfer Milestone
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2018-4" onmouseover='timelinesubnav("2018","2018-4-data","2018-4");'  onclick='timelinesubnav("2018","2018-4-data","2018-4");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">November 2018
                        </p>      
                        <p>$50 Billion Home Possible Mortgage Milestone
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>
                    
                    <div class="timeline-item" id="2019" onmouseover='timelinesubnav("2019","2019-1-data","2019");'  onclick='timelinesubnav("2019","2019-1-data","2019");'>    
                      <div class="timeline-year">      2019     
                      </div>    
                      <div class="timeline-icon">    
                      </div>    
                      <span class="timeline-line">
                      </span>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">June 2019
                        </p>      
                        <p>Uniform Mortgage-Backed Security (UMBS) Goes Live
                        </p>    
                      </div>    
                      <div class="timeline-text-small">      
                        <div class="timeline-text-header">        <strong>June 2019 | Uniform Mortgage-Backed Security (UMBS) Goes Live </strong>      
                        </div>  
                        <p>Merging Freddie Mac and Fannie Mae To-Be-Announced MBS markets into a single $4 trillion market - the second largest bond market in the world. 
                        </p>
                      </div> 
                      <div class="timeline-text-small">  
                        <hr> 
                        <div class="timeline-text-header"><strong>June 2019 | K-Deals 10-Year Anniversary</strong>
                        </div> 
                        <p>Freddie Mac Multifamily celebrates 10 years of K-Deals, the first modern multifamily securitization. Since its inception in 2009, more than $300 billion in loans have been securitized.  By shifting a portion of our risk to the private sector, we’re helping to build a stronger company and protect taxpayers.</p> 
                      </div>  
                      <div class="timeline-text-small">    
                        <hr>  
                        <div class="timeline-text-header">    <strong>July 2019 | A Better Freddie Mac, A Better Housing Finance System</strong>  
                        </div>  
                        <p>Through these and other milestones Freddie Mac is helping to build a better housing finance system for the nation. A steady stream of improvements and strong business fundamentals are key drivers in this transformation.</p>  
                      </div>  
                      <div class="arrow">>
                      </div>  
                    </div> 
                    <div class="timeline-item" id="2019-2" onmouseover='timelinesubnav("2019","2019-2-data","2019-2");'  onclick='timelinesubnav("2019","2019-2-data","2019-2");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">June 2019
                        </p>      
                        <p>K-Deals 10-Year Anniversary
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>  
                    <div class="timeline-item" id="2019-3" onmouseover='timelinesubnav("2019","2019-3-data","2019-3");'  onclick='timelinesubnav("2019","2019-3-data","2019-3");'>    
                      <div class="timeline-content right">      
                        <p class="timeline-content-date callout-txt">July 2019
                        </p>      
                        <p>A Better Freddie Mac, A Better Housing Finance System
                        </p>    
                      </div>    
                      <div class="arrow">>
                      </div>  
                    </div>

                  </div>
                </div>
                <div class="timeline-text active" id="2009-1-data">  
                  <div class="timeline-text-header">    <strong>February 2009 | Assistance Programs for Struggling Homeowners </strong>  
                  </div>  
                  <img src="images/timeline-feb09.png" class="no-border" /> 
                </div>
                <div class="timeline-text" id="2009-2-data">  
                  <div class="timeline-text-header">    <strong>June 2009 | Multifamily Risk Transfer Program</strong>  
                  </div>  
                  <img src="images/timeline-jun09.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2010-1-data">  
                  <div class="timeline-text-header">    <strong>January 2010 | Borrower Help Centers </strong>  
                  </div>  
                  <img src="images/timeline-jan10.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2012-1-data">  
                  <div class="timeline-text-header">    <strong>September 2012 | Return to Profitability</strong>  
                  </div>  
                  <img src="images/timeline-sep12.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2013-1-data">  
                  <div class="timeline-text-header">    <strong>July 2013 | Single-Family Credit Risk Transfer Program </strong>  
                  </div>  
                  <img src="images/timeline-jul13.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2013-2-data">  
                  <div class="timeline-text-header"><strong>December 2013 | Total Payments to the U.S. Treasury Reaches Amount Borrowed</strong>
                  </div>  
                  <img src="images/timeline-dec13.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2014-1-data">  
                  <div class="timeline-text-header">    <strong>August 2014 | First Non-Performing Loan Sale</strong>  
                  </div>
                  <img src="images/timeline-aug14.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2014-2-data">  
                  <div class="timeline-text-header">    <strong>October 2014 | Small Balance Loan Program </strong>  
                  </div>  
                  <img src="images/timeline-oct14.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2015-1-data">  
                  <div class="timeline-text-header">    <strong>October 2015 | LAS Offers Digital Tools for Managing Single-Family Mortgages</strong>  
                  </div>  
                  <img src="images/timeline-oct15.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2015-2-data">  
                  <div class="timeline-text-header">    <strong>December 2015  | Leading Multifamily Lender</strong>  
                  </div>  
                  <img src="images/timeline-dec15.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2016-1-data">  
                  <div class="timeline-text-header">    <strong>December 2016 | Single Security and Common Securitization Platform</strong>  
                  </div>  
                  <img src="images/timeline-dec16.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2017-1-data">  
                  <div class="timeline-text-header">    <strong>January 2017 | Single-Family Serious Delinquency Rate Dips Below 1%</strong>  
                  </div>  
                  <img src="images/timeline-jan17.png" class="no-border" />
                </div>
                
                <div class="timeline-text" id="2017-2-data">  
                  <div class="timeline-text-header">    <strong>May 2017 | Innovative Appraisal Alternative</strong>  
                  </div>  
                  <img src="images/timeline-may17.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2017-3-data">  
                  <div class="timeline-text-header">    <strong>June 2017 | Multifamily $200 Billion in Risk Transfer Milestone </strong>  
                  </div>  
                  <img src="images/timeline-jun17.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2018-1-data">  
                  <div class="timeline-text-header">    <strong>February 2018 | Mortgage-Related Investments Portfolio Drops Below $250 Billion</strong>  
                  </div>  
                  <img src="images/timeline-feb18.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2018-2-data">  
                  <div class="timeline-text-header">    <strong>May 2018 | Historically Low Multifamily Delinquency Rate</strong>  
                  </div>  
                  <img src="images/timeline-may18.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2018-3-data">  
                  <div class="timeline-text-header">    <strong>June 2018 | Single-Family $1 Trillion Credit Risk Transfer Milestone</strong>  
                  </div>   
                  <img src="images/timeline-jun18.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2018-4-data">  
                  <div class="timeline-text-header">    <strong>November 2018 | $50 Billion Home Possible<sup>®</sup> Mortgage Milestone</strong>  
                  </div>  
                  <img src="images/timeline-nov18.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2019-1-data">  
                  <div class="timeline-text-header">    <strong>June 2019 | Uniform Mortgage-Backed Security (UMBS) Goes Live</strong>  
                  </div>  
                  <img src="images/timeline-jun19-UMBSLIVE.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2019-2-data">  
                  <div class="timeline-text-header">    <strong>June 2019 | K-Deals 10-Year Anniversary</strong>  
                  </div>  
                  <img src="images/timeline-jun19-KDeals10YR.png" class="no-border" />
                </div>
                <div class="timeline-text" id="2019-3-data">  
                  <div class="timeline-text-header">    <strong>July 2019 | A Better Freddie Mac, A Better Housing Finance System</strong>  
                  </div>  
                  <img src="images/timeline-jul19.png" class="no-border" />
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>  
  </div>   
  <div class="background-white-primary-tilt clearfix">
    <div class="callout small show-for-large"></div>
    <div class="callout show-for-xlarge"></div>
  </div>
</div>
<!-- // END TIMELINE SECTION -->
