{{> transform-hero}}


<div class="background-offwhite" style="overflow: hidden;">
<!-- // 3 FACTS SECTION -->
  <div class="landing-band text-center">
    <div class="row-container-stretch">
      <div class="row">
        <div class="column position-relative">
          <h2 class="text-flex-36-52 weight-black gutter-bottom gutter-top"><span class="bubble3"></span><span class="position-relative">A Stronger Company</span></h2>
          <div class="gutter-top-large"></div>
          <div class="text-flex-18-24 weight-medium gutter-top gutter-bottom accent-gray">Over the past year…</div>
        </div>
      </div>   
      <div class="row gutter-top large-up-3 acccent-gray vertical-center-equalizers" data-equalizer>
        <div class="column">
          <div class="callout" data-equalizer-watch>
            <div class="gutter-left-medium gutter-right-medium">              
              <img width="266.126" height="220" alt="" src="/transform/images/ill_stronger01.svg"/>
            </div>
          </div>    
          <h3 class="text-flex-18-24 weight-medium accent-gray gutter-bottom">We provided <span class="text-flex-36-56 block weight-black accent-primary">$495 billion</span> in funding to the mortgage market</h3>
        </div>  
        <div class="column">
          <div class="callout" data-equalizer-watch>
            <div class="gutter-left-medium gutter-right-medium">
              <img width="266.126" height="220" alt="" src="/transform/images/ill_stronger02.svg"/>
            </div> 
          </div>   
          <h3 class="text-flex-18-24 weight-medium accent-gray gutter-bottom">We made home possible for <span class="text-flex-36-56 block weight-black accent-primary">2.5 million</span> households</h3>
        </div> 
        <div class="column">
          <div class="callout" data-equalizer-watch>
            <div class="gutter-left-medium gutter-right-medium">
              <img width="266.126" height="220" alt="" src="/transform/images/ill_stronger03.svg"/>
            </div>
          </div>  
          <h3 class="text-flex-18-24 weight-medium accent-gray gutter-bottom"><span class="float-right bubble4"></span>We served <span class="text-flex-36-56 block weight-black accent-primary">865</span> regional and community lenders across the country</h3>  
        </div> 
      </div>
      <div class="callout small-to-default"></div>
    </div>
  </div>
  <div class="background-white-primary-tilt clearfix"">
    <div class="callout small show-for-large"></div>
    <div class="callout show-for-xlarge"></div>
  </div>
</div>
<!-- // END 3 FACTS SECTION -->

<!-- // QUOTE SECTION -->
<div class="custom-offset-1" style="overflow: hidden;">
  <div class="landing-band-sides-only">
    <div class="row-container-stretch">
      <div class="row">
        <div class="column medium-12">
          <div class=" background-primary position-relative clearfix brickman-quote">
            <div style="position: absolute; right: -0%; bottom: 0%;">
              <svg style="position: absolute; right: -20%; top: 30%;" xmlns="http://www.w3.org/2000/svg" width="386" height="386" viewBox="0 0 386 386"><defs><style>.a{fill:#fff;opacity:0.01;}</style></defs><circle class="a" cx="193" cy="193" r="193"/></svg>
              <img class="no-border position-relative" alt="David Brickman" src="/transform/images/brickman-masked.png">
            </div>
            <div class="gutter-top-large gutter-bottom-large gutter-left-large">
              <div class="brickman-quote-text">
                <div class="callout">
                  <div class="position-relative">
                    <div class="position-absolute" style="left: 0; top: 0.35rem; width: 30%">
                      <svg xmlns="http://www.w3.org/2000/svg" width="284.895" height="261.005" viewBox="0 0 284.895 261.005" style="max-width: 100%; height: auto;"><defs><style>.a{fill:#fff;opacity:.1}</style></defs><g transform="translate(-412.991 -2128)"><path d="M413 2128h128.858v128.855h-85.9s-1.663 81.183 87.259 89.443c0 15.993.1 23.861 0 42.707C409.069 2376.57 413 2256.855 413 2256.855zM567.625 2128h128.858v128.855h-85.9s-1.663 81.183 87.259 89.443c0 15.993.1 23.861 0 42.707-134.148-12.435-130.217-132.15-130.217-132.15z" class="a"/></g></svg>
                    </div>
                      <div class="brickman-quote-container">
                        <p class="weight-normal text-flex-18-34">“As we look to the future, we are squarely focused on serving our mission and meeting the milestones necessary to move the company forward.”</p>
                        <div class="text-flex-21-28"><em>– David Brickman, CEO</em></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="callout small-to-large"></div>
          <p class="text-flex-28-36 text-center"><span class="weight-medium">We’ve returned a total of </span><strong class="text-flex-36-56 accent-primary weight-black">$119.7 billion</strong> <span class="weight-medium">to taxpayers.</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="callout small-to-large"></div>
</div>
<!-- END QUOTE SECTION -->



  {{> transform-timeline}}


  
<!-- // CARD SECTION -->
<div class="background-white" style="overflow: hidden;">
  <div class="landing-band">
    <div class="row-container-stretch">
      <div class="row text-center gutter-bottom">
        <div class="column">
          <h2 class="text-flex-36-52 weight-black gutter-bottom">Solutions for the Market</h2>
        </div>
      </div>
      <div class="row text-center vertical-center-equalizers" data-equalizer data-equalize-on="large">
        <div class="column medium-7 medium-centered large-4 large-uncentered gutter-bottom">
          <div class="gutter-bottom gutter-left-large gutter-right-large" data-equalizer-watch>
            <a href="https://sf.freddiemac.com/tools-learning/loan-advisor/content/aim"><img  width="308.557" height="220" alt="" src="/transform/images/ill_AIM.svg"/></a>
          </div>
          <h3 class="text-flex-28-36 weight-black"><a href="https://sf.freddiemac.com/tools-learning/loan-advisor/content/aim">AIM<span class="reduce inline icon-chevron-right"></span></a></h3>
          <p class="text-flex-18-24 weight-medium accent-gray">Our asset and income modeler provides a more reliable and efficient financing experience for lenders and borrowers.</p>
        </div>
        <div class="column medium-7 medium-centered large-4 large-uncentered gutter-bottom">
          <div class="gutter-bottom gutter-left-large gutter-right-large" data-equalizer-watch>
            <a href="/mbs/single-security/"><img width="308.557" height="220" alt="" src="/transform/images/ill_UMBS.svg"/></a>
          </div>
          <h3 class="text-flex-28-36 weight-black"><a href="/mbs/single-security/">UMBS<span class="reduce inline icon-chevron-right"></span></a></h3>
          <p class="text-flex-18-24 weight-medium accent-gray">UMBS has traded more than $18 trillion since March 2019 &mdash; the second largest bond market in the world.</p>
        </div>
        <div class="column medium-7 medium-centered large-4 large-uncentered gutter-bottom">
          <div class="gutter-bottom gutter-left-large gutter-right-large" data-equalizer-watch>
            <a href="https://mf.freddiemac.com/news/2019/20190314-lihtc-500-million.html"><img width="308.557" height="220" alt="" src="/transform/images/ill_LIHTC.svg"/></a>
          </div>
          <h3 class="text-flex-28-36 weight-black"><a href="https://mf.freddiemac.com/news/2019/20190314-lihtc-500-million.html">LIHTC<span class="reduce inline icon-chevron-right"></span></a></h3>
          <p class="text-flex-18-24 weight-medium accent-gray">Investing in LIHTC is a priority for us &mdash; making more affordable homes a reality for renters across the country.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CARD SECTION -->

<!-- // WORD COLLAGE SECTION -->
<div class="background-offwhite" style="overflow: hidden;">
  <div class="landing-band">
    <div class="row-container gutter-bottom">
      <div class="row text-center">
        <div class="column">
          <h2 class="text-flex-36-52 weight-black gutter-bottom">A Safer, Sounder System</h2>
          <div class="gutter-top gutter-bottom text-center weight-medium">
            <div class="text-flex-18-24 accent-gray weight-medium" style="padding: 0 0 0.25em;"><span class="bubble8"></span><span class="position-relative">Through our pioneering credit risk transfer offerings, we’re creating a better housing finance system for borrowers, lenders, investors and taxpayers. Since 2009, we’ve transferred a portion of mortgage credit risk on nearly</span></div>  
            <div class="text-flex-32-72">
              <div aria-hidden="true" id="animate-trigger" class="number-channel weight-black text-center accent-primary ie-hide ios-hide">
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>$</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>1</div>
                </div>
                <div class="stack">
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                  <div>.</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>7</div>
                </div>
                <div class="stack">
                  &nbsp;
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>T</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>R</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>I</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>L</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>L</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>I</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>O</div>
                </div>
                <div class="stack">
                  <div>9</div>
                  <div>8</div>
                  <div>7</div>
                  <div>6</div>
                  <div>5</div>
                  <div>4</div>
                  <div>3</div>
                  <div>2</div>
                  <div>1</div>
                  <div>0</div>
                  <div>N</div>
                </div>
              </div>
              <div class="ie-show ios-show">
                <div class="text-flex-40-68 accent-primary weight-black">$1.7 TRILLION</div>
              </div>
            </div>
            <div class="text-flex-18-24 accent-primary uppercase" style="padding: 0.25em 0 0.75em;">of mortages</div>
          </div>
          <div class="background-white gutter-top-small-only gutter-bottom-small-only gutter-top-medium-only gutter-bottom-medium-only">
          <span class="float-right bubble9"></span>
            <div class="row collapse vertical-center-equalizers" data-equalizer data-equalize-on="large">    
              <div class="column large-5">
                <div class="callout small no-margin" data-equalizer-watch>
                  <div class="gutter-left-large gutter-top-medium gutter-bottom-large">
                    <p class="text-flex-20-36 accent-gray weight-medium large-text-right" style="line-height: 1.16">Since our credit risk transfer program began in 2009, we’ve added new products to meet the increasing demand from over 800 investors.</p>
                  </div>
                </div>
              </div>
              <div class="column large-7">    
                <div class="callout small-to-large no-margin" data-equalizer-watch>
                  <div class="gutter-all-large text-center">
                    <div class="gutter-left-xlarge">
                      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="667" height="309" viewBox="0 0 667 309" style="max-width: 100%; height: auto;">
                        <defs><style>.pr{fill:#00a6e1;}.gr{fill:#777874;}.sup{font-size:39.664px;baseline-shift:22.6644;}</style></defs>
                        <g transform="translate(45.13 7.363)" style="font-family:inherit;font-weight:800;">
                        <text class="pr" transform="translate(147.87 131.637)" style="font-size:79px;">K-Deal</text>
                        <text class="gr" transform="translate(-20.13 98.637)" style="font-size:59px;">ACIS<tspan y="0" class="sup">®</tspan></text>
                        <text class="gr" transform="translate(338.87 63.637)" style="font-size:59px;">STACR<tspan y="0" class="sup">®</tspan></text>
                        <text class="pr" transform="translate(18.87 285.637)" style="font-size:64px;">SB-Deal</text>
                        <text class="gr" transform="translate(290.87 272.637)" style="font-size:59px;">Deep MI</text>
                        <text class="pr" transform="translate(-45.13 215.637)" style="font-size:39px;">KT-Deal</text>
                        <text class="pr" transform="translate(238.87 213.637)" style="font-size:35px;">Whole Loan Securities<tspan y="0" style="font-size:19.249px;baseline-shift:10.9989">SM</tspan></text>
                        <text class="gr" transform="translate(26.87 166.637)" style="font-size:39px;">ML-Deal</text>
                        <text class="pr" transform="translate(144.87 24.637)" style="font-size:26px;">SCR Notes</text>
                        <text class="gr" transform="translate(209.87 60.637)" style="font-size:27px;">M-Deal</text>
                        <text class="gr" transform="translate(402.211 107.246)" style="font-size:26px;">Q-Deal</text>
                        <text class="gr" transform="translate(221.87 168.637)" style="font-size:22px;">Multifamily Credit Income Fund</text>
                        <text class="gr" transform="translate(138.87 215.637)" style="font-size:26px;">P-Deal</text>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="float-left bubble10"></span>
        </div>
      </div> 
    </div>  
  </div>
  <div class="background-white-primary-tilt clearfix"">
    <div class="callout small show-for-large"></div>
    <div class="callout show-for-xlarge"></div>
  </div>
</div>
<!-- // END WORD COLLAGE SECTION -->
    
<!-- //  VIDEOS -->
<div class="background-white" style="overflow: hidden;">
  <div class="landing-band text-center">
    <div class="row-container-stretch">
      <div class="row">
        <div class="column medium-6">
          <div class="gutter-left-large gutter-right-large gutter-bottom">
            <div class="callout small-to-large no-padding-top">
              <div class="gutter-left-large gutter-right-large">
                <a class="video-modal widescreen-video overlay block offsite" target="_blank" href="https://www.youtube.com/watch?v=eoELzwjSep0"  data-src="//www.youtube-nocookie.com/embed/eoELzwjSep0?rel=0&amp;wmode=transparent"><img alt="video" src="/transform/images/Video-1.png"></a>
              </div>
            </div>
            <div class="text-flex-28-36 weight-bold gutter-bottom-large">Building Small Delivers Big</div>
            <p class="text-flex-18-24 accent-gray weight-medium gutter-bottom">We&rsquo;ve helped keep nearly 300,000 rental units affordable to working families since launching our innovative Small Balance Loan program in 2014.</p>
          </div>
        </div> 
        <div class="column medium-6">
          <div class="gutter-left-large gutter-right-large gutter-bottom">
            <div class="callout  small-to-large no-padding-top">
              <div class="gutter-left-large gutter-right-large">
                <a class="video-modal widescreen-video overlay block offsite" target="_blank" href="https://www.youtube.com/watch?v=ijpTEUO-j9g"  data-src="//www.youtube-nocookie.com/embed/ijpTEUO-j9g?rel=0&amp;wmode=transparent"><img alt="video" src="/transform/images/Video-2.png"></a>
              </div>
            </div>
            <div class="text-flex-28-36 weight-bold gutter-bottom-large">Doing More for Affordable Housing</div>
            <p class="text-flex-18-24 accent-gray weight-medium gutter-bottom">Our commitment to provide safe and affordable housing in underserved markets during all economic conditions is a mission that matters.</p>   
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<!-- END VIDEOS -->

<!-- // COLUMNS WITH ICONS -->
<div class="background-offwhite gutter-bottom gutter-top" style="overflow: hidden;">
  <div class="landing-band text-center">
    <div CLASS="row-container-stretch">
    <div class="row">
      <div class="column">
        <h2 class="text-flex-36-52 weight-black gutter-bottom"><span class="bubble11"></span><span class="position-relative">We're Proud to be Part of the Industry</span></h2>
      </div>
    </div> 
    <div class="row ">
      <div class="column medium-7 medium-centered large-4 large-uncentered">
        <p class="gutter-top"><img alt="" src="images/icon_technology.svg"></p>
        <h2 class="text-flex-26-42 weight-bold">Technology</h2>
        <div class="callout small">
          <p class="text-flex-18-24 accent-gray weight-medium">We're focused and investing in technology that's lowering costs across the housing industry, while helping to serve more families.</p>
        </div>
      </div>
      <div class="column medium-7 medium-centered large-4 large-uncentered">
        <p class="gutter-top"><img alt="" src="images/icon_commitment.svg"></p>
        <h2 class="text-flex-26-42 weight-bold">Commitment</h2>
        <div class="callout small">
          <p class="text-flex-18-24 accent-gray weight-medium">We're committed to serving the industry by building a better and more sound housing finance system.</p>
        </div>
      </div>
      <div class="column medium-7 medium-centered large-4 large-uncentered">
        <p class="gutter-top"><img alt="" src="images/icon_excellence.svg"></p>
        <h2 class="text-flex-26-42 weight-bold">Excellence</h2>
        <div class="callout small">
          <p class="text-flex-18-24 accent-gray weight-medium">We're working closely with our customers to meet their needs and help them remain strong and competitive.</p>
        </div>
      </div>
    </div>
    <div class="callout small no-margin"></div>
    </div>
  </div>
</div>
<!-- // END COLUMNS WITH ICONS -->
