  <button class="leader-panel-item" type="button" data-slide="0">
    <div class="background-primary"><img alt="Chris Boyle" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_boyle.jpg"></div>
    <p>Chris Boyle</p>
  </button>
  <button class="leader-panel-item" type="button" data-slide="1">
  <div class="background-primary"><img alt="Donna Corley" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_corley.jpg"></div>
  <p>Donna Corley</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="2">
  <div class="background-primary"><img alt="Terri Merlino" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_merlino.jpg"></div>
  <p>Terri Merlino</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="3"> 
  <div class="background-primary"><img alt="Riham El-Lakany" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_el-lakany.jpg"></div>
  <p>Riham El-Lakany</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="4">
  <div class="background-primary"><img alt="Jacqueline Welch" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_welch.jpg"></div>
  <p>Jacqueline Welch</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="5">
  <div class="background-primary"><img alt="Kunkun Callaghan" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_callaghan.jpg"></div>
  <p>Kunkun Callaghan</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="6">
  <div class="background-primary"><img alt="Gina Healy" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_healy.jpg"></div>
  <p>Gina Healy</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="7">
  <div class="background-primary"><img alt="Jodi Morton" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_morton.jpg"></div>
  <p>Jodi Morton</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="8">
  <div class="background-primary"><img alt="Yvette Gilmore" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_gilmore.jpg"></div>
  <p>Yvette Gilmore</p> 
  </button>
  <button  class="leader-panel-item" type="button" data-slide="9">
  <div class="background-primary"><img alt="Kevin Palmer" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_palmer.jpg"></div>
  <p>Kevin Palmer</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="10">
  <div class="background-primary"><img alt="Danny Gardner" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_gardner.jpg"></div>
  <p>Danny Gardner</p>
  </button>
  <button  class="leader-panel-item" type="button" data-slide="11">
  <div class="background-primary"><img alt="David Lowman" class="border-white shadow-southeast" src="/leadingtheway/images/headshot_lowman.jpg"></div>
  <p>David Lowman</p>
  </button>