<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Danny Gardner" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_gardner.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Danny Gardner</h2>
          <p class="weight-medium no-margin"><em>Senior Vice President<br>Single-Family Affordable Lending and Access to Credit</em></p>          
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Danny Gardner</h2>
        <p class="weight-medium no-margin"><em>Senior Vice President<br>Single-Family Affordable Lending and Access to Credit</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">&quot;In my world of affordable lending, we often try to teach people about cultural identity,&quot; says Danny Gardner. &quot;When you're trying to appeal to and advance certain segments, it's important for the people in charge to build foundations and create norms to make it easier for the next generation. To better support women, leaders have to move beyond preconceived limitations of established male structure and that proverbial glass ceiling.&quot;</p>
      <p class="no-margin"><a href="#gardnerModal" data-open="gardnerModal" aria-controls="gardnerModal" class="button medium secondary">More about Danny
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="gardnerModal" data-reveal aria-label="Bio of Danny Gardner">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Danny Gardner</h1>
            <p class="page-subtitle no-margin">Senior Vice President<br>Single-Family Affordable Lending and Access to Credit</p> 
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Danny Gardner" src="/leadingtheway/images/headshot_gardner.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;We need more intentional cultivation of women in this industry.&rdquo;</strong></p> 
                <p>&quot;In  my world of affordable lending, we often try to teach people about cultural  identity,&quot; says Danny Gardner, senior vice president of Single-Family's  Affordable Lending and Access to Credit division. &quot;When you're trying to appeal  to and advance certain segments, it's important for the people in charge to build  foundations and create norms to make it easier for the next generation. To  better support women, leaders have to move beyond preconceived limitations of  established male structure and that proverbial glass ceiling.&quot;</p>
                <p>In his role, Mr. Gardner is primarily responsible for fulfilling Freddie  Mac's community mission to provide sustainable homeownership education and  financing to families who are traditionally underserved by the market.&nbsp;He  is also responsible for overseeing Freddie Mac's delivery and performance  against the Single-Family Affordable Lending goals, Duty to Serve regulation  and Access to Credit activities in the FHFA Scorecard.&nbsp; </p>
                <p>He and his team support our clients by partnering with the Sales team to  educate clients on the availability and use of our affordable-related products  and programs, including the Home Possible&reg; suite of mortgage  products and our CreditSmart Financial Literacy Program. He also leads our  engagement with state and local housing finance agencies, diverse and inclusive  realtor associations and national and local community development  organizations, to establish partnerships and programs that create successful  homeowners.&nbsp;&nbsp; </p>
                <p>To support underserved and first-time homebuyers, the  industry needs to focus on removing obstacles and creating opportunities. Mr. Gardner believes the same applies to advancing women in the housing industry.</p>
                <p>In his three years at Freddie Mac, he says he has seen  very strong examples of women leading in the public sphere and leading across  huge parts of Freddie Mac's business as well as advocating for women and  exemplifying work-life balance. He's glad to see more focus on supporting women  and is passionate about the reasons behind these efforts.</p>
                <p>&quot;In addition to <em>what</em> we do to support women, there's also the <em>why</em> it's important to help advance women in the mortgage industry now,&quot; he says. &quot;Why  are we focused on this? One reason is that, if we don't do this, we miss an  opportunity to gain the benefit of diverse thinking which elevates  conversations and results within organizations. Another reason is that women  seem to be more focused on home ownership than men. The rates of homeownership  are higher with single women.  And if we  don't understand that women want to be addressed in a relevant way, we are  going to miss out on opportunities.&quot;</p>
                <p>Mr. Gardner believes that men can better support women  leaders in this industry by recognizing the historical challenges and barriers  based upon cultural norms.</p>
                <p>&quot;Unfortunately, cultural norms limit potential,&quot; he  says. &quot;For women leaders to succeed in the mortgage industry, we need more  intentional cultivation of women in this industry. We need to be intentional  about removing barriers and creating new norms.&quot;  </p>

              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>