<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Gina Healy" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_healy.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Gina Healy</h2>
          <p class="weight-medium no-margin"><em>Vice President, Credit Risk Transfer<br>Single-Family Division</em></p>              
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Gina Healy</h2>
        <p class="weight-medium no-margin"><em>Vice President, Credit Risk Transfer<br>Single-Family Division</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">&quot;You have to be willing to take risks and seek opportunities while making some tough decisions along the way. Don’t be shy in seeking out roles that meet your core skill set combining energy and passion. It takes a lot of courage to embrace a new role, and it is equally important for the company to provide new opportunities and look for contributors across the organization, which helps break the mold and fosters innovation and success.&quot;</p>
      <p class="no-margin"><a href="#healyModal" data-open="healyModal" aria-controls="healyModal" class="button medium secondary">More about Gina
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="healyModal" data-reveal aria-label="Bio of Gina Healy">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Gina Healy</h1>
            <p class="page-subtitle no-margin">Vice President, Credit Risk Transfer<br>Single-Family Division</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Gina Healy" src="/leadingtheway/images/headshot_healy.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;Studies show better outcomes occur because of diverse perspectives. It's also important to be assertive and proactive in offering ideas and solutions.&rdquo;</strong></p> 
                <p>Gina  Healy, vice president of Credit Risk Transfer, cites risk taking  as a key element of success for women in the financial services industry.</p>
                <p>&quot;You  have to be willing to take risks and seek opportunities while making some tough  decisions along the way,&quot; she says. &quot;Don't be shy in seeking out roles that  meet your core skill set combining energy and passion. It takes a lot of  courage to embrace a new role, and it is equally important for the company to  provide new opportunities and look for contributors across the organization,  which helps break the mold and fosters innovation and success.&quot;  </p>
                <p>Ms.  Healy has spent her career in male-dominated industries and, by any estimation,  has thrived despite any gender-based challenges.</p>
                <p>&quot;My  area of structured finance has been traditionally male-dominated, but it's a  very dynamic field and the mortgage market is under significant transformation  embracing technology and innovation,&quot; she says. &quot;I have a great opportunity to help  attract new sources of private capital to support the mortgage market industry  while helping support homeownership and bringing overall mortgage market  efficiencies.&quot;  </p>
                <p>In  her role, she is responsible for transferring credit risk  to globally diversified reinsurers which, to date, have transferred over $10  billion in credit risk underlying $1 trillion in mortgages.  In addition, she manages the mortgage  insurance portfolio which provides insurance coverage up to $90 billion  underlying $350 billion in mortgages.       </p>
                <p>Prior to joining Freddie Mac, she was appointed chief  financial officer of NASDAQ Europe, where she was responsible for leading  strategic mergers and acquisitions and managing treasury corporate finance and  SEC reporting functions across many countries. Prior to her career at NASDAQ, Ms. Healy  worked in number of capacities in the Silicon Valley region in California and  held management positions at Vantive Corporation (currently a division of  Oracle Corporation) and Ernst &amp; Young LLP.   </p>
                <p>&quot;One of the biggest challenges  women face is getting a seat at the table, whether it's in the mortgage  industry or another line of work,&quot; she says. &quot;In part, it's about getting the  opportunity to offer a perspective – studies show better outcomes occur because  of diverse perspectives. It's also important to be assertive and proactive in  offering ideas and solutions.&quot; </p>
                <p>She believes strongly that if you deliver  results, you're helping change any gender-based perception. In her experience,  leaders of companies then see that you and your approach are effective. </p>
                <p>She says  you must be confident and believe in your capabilities, but confidence is only  part of the solution. &quot;What really helped me was being given a chance to prove myself,&quot;  she says.  &quot;That means we need male and  female leaders at the top who are willing and eager to see potential in their  rising male <em>and </em>female leaders.&quot; She  also encourages women to speak up for their accomplishments and focus time on  building relationships and networks, which is an important part of professional  development.  </p>
                <p>As former  a co-chair of WIN, Freddie Mac's employee resource group for women, Ms. Healy  is a strong supporter of mentoring to help women advance. </p>
                <p>&quot;Find  a culture that fits you and gives you flexibility and support and, in turn,  give back,&quot; she says. &quot;Help pay it forward, influence the next generation and  expand opportunities for women. I had mentors who offered me one-on-one advice  and sponsors who advocated for me. It's critical to see women in leadership  roles balancing career and family. When you see someone else do it, you realize  you don't have to preclude yourself from doing both.&quot;</p>
                <p>Ms.  Healy thinks it's a particularly exciting time for women to lead, since technology  and innovation will change the paradigm of the mortgage industry. There will be  new leadership roles and she sees lots of opportunities for women leaders.  </p>
                <p>&quot;The  transformation we are undergoing as an industry has the potential to open many  doors,&quot; she says. &quot;Women are more often encouraged to take on new roles to  expand their skills and enter unchartered territory, which helps create new  roles.&quot;</p>
              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>