<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Terri Merlino" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_merlino.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Terri Merlino</h2>
          <p class="weight-medium no-margin"><em>Chief Credit Risk Officer</em></p>            
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Terri Merlino</h2>
        <p class="weight-medium no-margin"><em>Chief Credit Risk Officer</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">Based on her observations and personal experience as a 25-year mortgage industry veteran, Terri Merlino has advice for women who want to advance in the workplace, including <em>stop thinking you have work-life balance every day or every week</em>. She thinks that if you approach it that way, it can be overwhelming and you will feel you are doing something wrong. There are times when work demands more of your time and you have to feel good about that. And there are times when family demands more of your time, and you should feel good about that, too.</p>
      <p class="no-margin"><a href="#merlinoModal" data-open="merlinoModal" aria-controls="merlinoModal" class="button medium secondary">More about Terri
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="merlinoModal" data-reveal aria-label="Bio of Terri Merlino">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Terri Merlino</h1>
            <p class="page-subtitle no-margin">Chief Credit Risk Officer</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Terri Merlino" src="/leadingtheway/images/headshot_merlino.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;Stop thinking you have work-life balance every day or every week. There are times when work demands more of your time and you have to feel good about that. And there are times when family demands more of your time, and you should feel good about that, too.&rdquo;</strong></p> 
                <p>&quot;I've  been in the mortgage industry for 25 years, and I have seen many more women in  the last few years than I did at the start,&quot; says Terri Merlino, Freddie Mac's  chief credit risk officer. &quot;I started my career working in capital markets,  which was definitely a more male-dominated part of the business.&quot; </p>
                <p>Early  in her career, Ms. Merlino was usually the only woman in the room. As she moved  up the ladder, she says she saw even fewer women in senior leadership roles. As  a relatively new leader at Freddie Mac, she's glad to see many more women in  leadership roles in this organization than what she's seen in others. </p>
                <p>With  her extensive<strong> </strong>mortgage and financial services experience, she brings significant  accomplishments in credit and operational risk management to her role at  Freddie Mac. She oversees all credit risk matters, which requires her to  leverage her broad-based and comprehensive knowledge of mortgage operations,  sales, processing, underwriting and secondary marketing activities. </p>
                <p>For  more women leaders to succeed in the mortgage industry, she wants to see gender-awareness  training for all executives. That includes training to help women understand  men's workplace issues as much as men learning more about women's typical workplace  issues and perspectives. Not only will this raise awareness, it would help us  appreciate differences, she says.</p>
                <p>Based  on her observations and personal experience, she also wants to impart three  bits of advice to women. The first is <em>take  advantage of networking opportunities</em>.</p>
                <p>&quot;Many  women don't network adequately,&quot; she says. &quot;I know I didn't. Women may not  realize the significant difference it can make in your career. Freddie Mac does  a great job of encouraging networking, but I haven't see that at other  companies where I've worked.  It's so  acceptable at Freddie Mac to reach out to leaders, both men and women, and say,  'I want to learn from you.' Women should take advantage of that. At other  places, you might be an outlier to be that bold, but not at Freddie Mac.&quot;</p>
                <p>The second  piece of advice is <em>stop thinking you have  work-life balance every day or every week</em>. She thinks that if you approach  it that way, it can be overwhelming and you will feel you are doing something  wrong. There are times when work demands more of your time and you have to feel  good about that. And there are times when family demands more of your time, and  you should feel good about that, too.</p>
                <p>&quot;I  scaled back from my career at times when my family needed me, especially the  first two years of each of my three children's lives,&quot; she says. &quot;But I kept my  hand in the game and when my kids were more settled and I saw a huge  opportunity, I decided to step up. If you want to re-energize that bigger  career, you must be on the lookout for signs. Stay in touch with work  opportunities enough so you'll be ready to seize them when you're ready.&quot;</p>
                <p>The third  piece of advice for women is <em>take responsibility  for your own careers</em>. &quot;Stop waiting for someone to tap you on the shoulder  and say, 'You should apply for this job.',&quot; she says. Her experience of taking  responsibility for her career taught her that the ladder is not just up – it's  sideways, too. She encourages lateral moves, which are important but get short  shrift. </p>
                <p> &quot;Lateral moves have been more important to my  success than the upward ones due to the new skills I learned,&quot; she says. &quot;So  when I got a chance for the bigger job, I already had the experience and  exposure I needed to succeed.&quot; </p>
                <p>She  also has a bit of advice for men in the workplace: <em>be aware of your biases and be thoughtful about addressing them</em>. </p>
                <p>&quot;I've  encouraged several women at Freddie Mac to read Sheryl Sandberg's book <em>Lean In</em>, but I have also given copies to  men so they'd learn new perspectives,&quot; she says.</p>
              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>
