<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Riham El-Lakany" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_el-lakany.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Riham El-Lakany</h2>
          <p class="weight-medium no-margin"><em>Vice President, Chief Marketing Officer<br>Single-Family Division</em></p>             
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Riham El-Lakany</h2>
        <p class="weight-medium no-margin"><em>Vice President, Chief Marketing Officer<br>Single-Family Division</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">Riham El-Lakany supports women industry leaders through advocacy, networking, mentoring and participating in groups such as WIN, the employee resource group focused on expanding opportunities for women at Freddie Mac. She also advocates for more work-life balance through alternative work arrangements, which Freddie Mac is offering more and more, as well as for increasing women’s executive management training. </p>
      <p class="no-margin"><a href="#ellakanyModal" data-open="ellakanyModal" aria-controls="ellakanyModal" class="button medium secondary">More about Riham 
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="ellakanyModal" data-reveal aria-label="Bio of Riham El-Lakany">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Riham El-Lakany</h1>
            <p class="page-subtitle no-margin">Vice President, Chief Marketing Officer<br>Single-Family Division</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Riham El-Lakany" src="/leadingtheway/images/headshot_el-lakany.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;One of the most important things I’ve learned is that women don’t need to change who we are to be successful. Being authentic and focusing on your strengths is key to being a good leader.&rdquo;</strong></p> 
                <p><strong>&quot;</strong>Freddie Mac is  a supportive, open environment for women,&quot; says Riham El-Lakany, vice president  and chief marketing officer for Freddie Mac's Single-Family division. </p>
                <p>That openness is something that  drew her to the organization, where she now develops and leads marketing and  communications, including brand, industry conferences, strategic  communications, sales enablement, PR, and digital. Her primary goals are to: </p>
                <ul><li>Engage external clients to drive  growth, build market share and achieve business goals.</li>
                <li>Serve Freddie Mac's mission to  preserve homeownership across America, help potential homeowners and facilitate  positive industry change.</li></ul>
                <p>A 20-year financial services  industry veteran, she has held leadership positions in marketing,  communications and business development at AIG, Zurich, Prudential and Marsh  &amp; McLennan. Prior to her financial services career, she worked in the  nonprofit sector at the Ford Foundation and the Women's Environment &amp; Development  Organization (WEDO). </p>
                <p>She  thinks the biggest issues women in the workplace face today are work-life  balance and how to juggle social norms and expectations. She's experienced many  of those common challenges firsthand. Ms.  El-Lakany was a single mother for several years when she started her career and  had to juggle raising a young son with demands from the office.</p>
                <p>&quot;With  family support, I could do it and be successful,&quot; she says. &quot;It meant I had to  take my son into the office on days he didn't have school and I didn't have  care for him. I'd wake him up at five in the morning and he'd bring coloring  books and sit under my desk and somehow we both made it through my commute,  which at the time was two hours.&quot;</p>
                <p>&quot;I  think women must wrestle with our own work-life balance expectations,&quot; says Ms.  El-Lakany. &quot;We often must battle traditional expectations, including familial,  social and self.&quot; Her road wasn't without bumps &ndash; some managers weren't as  supportive of work-life balance as she needed them to be. When it comes to  gender treatment in the workplace, she's faced her share of double standards in  past positions. But she doesn't think the challenges women face are unique to  the mortgage industry; it's women in financial services and business overall.  </p>
                <p>She continues to support women  industry leaders through advocacy, networking, mentoring and participating in  groups such as WIN, the employee resource group focused on expanding opportunities  for women at Freddie Mac.&nbsp;She also advocates for more work-life balance through  alternative work arrangements, which Freddie Mac is offering more and more, as  well as for increasing women's executive management training. </p>
                <p>&quot;When  it comes to hard skills, men and women shouldn't be treated differently,&quot; she  says. &quot;But maybe there are more gender-specific options and approaches for supporting  women as they take on more leadership roles.&quot; </p>
                <p>She also  remains a committed advocate and believer in mentoring and sponsorship as ways  for more women to break through traditional barriers and get ahead.</p>
                <p>&quot;I  have had good male and female mentors,&quot; she says. &quot;It's important for people to  understand that they have to be a two-way street to work well.  Mentees must understand what they want to get  out of the relationships and mentors should want to learn from the mentees.&quot;</p>
                <p>Ms.  El-Lakany also feels strongly about having the right sponsors for women at all  levels of the organization, but especially for those in mid-career when they  plateau. How do we reach out to these women and empower them? </p>
                <p>&quot;One  of my sponsors helped me by saying, &lsquo;You are who you are.',&quot; she says. &quot;He  acknowledged that assertive women might be viewed by some as aggressive, but he  encouraged me to move forward and maybe adjust my style a bit, but to remain  true to who I am.&quot; </p>

              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>