<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Yvette Gilmore" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_gilmore.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Yvette Gilmore</h2>
          <p class="weight-medium no-margin"><em>Vice President, Servicer Relationship<br>and Performance Management<br>Single-Family Portfolio Management</em></p>              
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Yvette Gilmore</h2>
        <p class="weight-medium no-margin"><em>Vice President, Servicer Relationship<br class="hide-for-xlarge">and Performance Management<br>Single-Family Portfolio Management</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">Yvette Gilmore is chair of WIN, the employee resource group focusing on expanding opportunities for women at Freddie Mac. She works to provide mentoring, development and networking opportunities, and thinks of all three as essential for empowering more women leaders.</p>
      <p class="no-margin"><a href="#gilmoreModal" data-open="gilmoreModal" aria-controls="gilmoreModal" class="button medium secondary">More about Yvette
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="gilmoreModal" data-reveal aria-label="Bio of Yvette Gilmore">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Yvette Gilmore</h1>
            <p class="page-subtitle no-margin">Vice President, Servicer Relationship<br>and Performance Management<br>Single-Family Portfolio Management</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Yvette Gilmore" src="/leadingtheway/images/headshot_gilmore.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p>&quot;Our  male counterparts seem to be better at forming communities than we are,&quot; says Yvette Gilmore, vice president of Servicer Relationship  and Performance Management in the Single-Family Portfolio Management division. &quot;It's tremendously valuable to be around people who look and sound like you and  have a base of understanding that is like yours.&quot;</p>
                <p>Ms. Gilmore  is a longtime champion of building communities and working together. A 23-year  mortgage servicing industry veteran, she joined Freddie Mac in 2006 as  non-performing loans director. She now leads a team that manages the day-to-day  relationships and performance of all high volume/high risk Freddie Mac  Servicers, as well as the teams that manage servicing policy, quality  assurance, operational risk, and portfolio management and business  management.  </p>
                <p>Her  team provides both the strategic direction and policies that guide the efforts  to preserve homeownership across America and facilitate positive servicing  industry change. These policies enable the execution of servicing products and  programs that support the performance of the company's $1.6 trillion  Single-Family guarantee portfolio with an overarching goal of reducing credit  losses and preserving communities through responsible loss mitigation and  liquidation.</p>
                <p>Previously,  she was vice president of collections and loss mitigation for IndyMac Bank. She  also held leadership positions in default servicing at Washington Mutual, Aames  Financial and Glendale Federal Bank.  </p>
                <p>Ms.  Gilmore is chair of WIN, the employee resource group focusing on expanding  opportunities for women at Freddie Mac. She works to provide mentoring,  development and networking opportunities, and thinks of all three as essential  for empowering more women leaders. </p>
                <p>&quot;Mentors,  coaches and sponsors are necessary for women to advance in our industry,&quot; she  says. &quot;It's very difficult to ascend to any leadership position in a company  without a strong mentor, someone who can understand you and how you can make  your biggest impact. Then you need a coach to help build you up and a sponsor  who will see you through to advancement.&quot;</p>
                <p>Ms.  Gilmore says she had women mentors, &quot;but my greatest mentors were men. In the corporate  ladder I was climbing, my mentors had to be men because men were the ones  there. I learned from their experience and then tailored it to my style.  I took their &lsquo;inside baseball' feedback and  integrated that back into my authentic self.&quot; </p>
                <p>It's  not all up to the mentors, either, Ms. Gilmore says. Mentees need to be  attractive, too. She believes they need to ask themselves <em>what do I bring to the table?</em> Her advice to aspiring women leaders is  to pay attention to your job. </p>
                <p>&quot;Do  it well and be exceptional,&quot; she says. &quot;Then you can go out and be attractive  to a mentor, someone else wants to invest in you and see you win. A mentor who  believes you're capable of winning because you <em>already are</em>.&quot;</p>
                <p>She  also suggests that women look outside the confines of their office spaces for  ways to expand their circles.</p>
                <p>&quot;When  networking opportunities arise, we aren't thought of, and we may hesitate to  invite each other even if we are included,&quot; she says. &quot;Men don't have that same  constraint. Women in our industry are seeing what happens when you don't have communities  and are starting to <br>
                  form  them.&quot;</p>
                <p>When  it comes to changes she'd like to see in support of advancing women in the  mortgage industry, she cites more diversity.</p>
                <p>&quot;What  needs to change in our industry and what <em>is </em>changing is that you have major diversity initiatives,&quot; she says. &quot;Companies  are standing up and saying that diversity of thought leads to good outcomes and  no diversity leads to bad outcomes. As companies begin to focus their teams  based on diversity, employers will have less opportunity to deny promotions or  discriminate.&quot; </p>
                <p>She's  worked at several different companies and says Freddie Mac has an impressive  diversity and inclusion group that supports women. </p>
                <p>&quot;Our  company puts its money where our mouth is in terms of bringing in outside  speakers and programs focused on advancing women,&quot; she says. &quot;Freddie Mac  invests in its women leaders through programs like coaching.&quot;</p>
                <p>While  she's proud of the progress that's been made, she wants organizations to keep  up the momentum and continue to expand their efforts in support of women. In  particular, she says she'd like to see an expansion of how we all see diversity  beyond simple binary focuses <br>
                  like  gender.</p>
                <p>&quot;I  want us to focus more on intersectionality,&quot; she says. &quot;I am a woman. I am  African-American. I am approaching a certain age. We should get comfortable  with the intersections. And women must get comfortable with hiring other women.&quot;  </p>
                <p>She is  troubled by recent reports suggesting that men are better at hiring women than  other women  are. </p>
                <p>&quot;We  need women working together in movements like #LeadingTheWay to mentor each  other, hire each other, get a better understanding of barriers to entry and  then break them down,&quot; she says &quot;That's what leaders are supposed to do. We  remove barriers.&quot;</p>
              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>