<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Kunkun Callaghan" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_callaghan.jpg">   
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Kunkun Callaghan</h2>
          <p class="weight-medium no-margin"><em>Senior Vice President, Enterprise Business Technology Officer<br>Freddie Mac Single-Family Division</em></p>            
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Kunkun Callaghan</h2>
        <p class="weight-medium no-margin"><em>Senior Vice President, Enterprise Business Technology Officer<br>Freddie Mac Single-Family Division</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">&quot;I want to see more women break away from the perceptions of what we can and can't do,&quot; says Kunkun Callaghan. &quot;For example, let's reevaluate our perceptions of our own skills. Too many women don't think that they can be technical or make the kind of tough decisions you must make to be effective leaders.&quot; </p>
      <p class="no-margin"><a href="#callaghanModal" data-open="callaghanModal" aria-controls="callaghanModal" class="button medium secondary">More about Kunkun
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="callaghanModal" data-reveal aria-label="Bio of Kunkun Callaghan">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Kunkun Callaghan</h1>
            <p class="page-subtitle no-margin">Senior Vice President, Enterprise Business Technology Officer<br>Freddie Mac Single-Family Division</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Kunkun Callaghan" src="/leadingtheway/images/headshot_callaghan.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;To succeed more in the mortgage industry, women need to take calculated risks, have an opinion and not be afraid to step out of the box and be true to who we are.&rdquo;</strong></p>                
                <p>&quot;I  want to see more women break away from the perceptions of what we can and can't  do,&quot; says Kunkun Callaghan, senior vice president of Enterprise Business  Technology at Freddie Mac. &quot;For example, let's reevaluate our perceptions of  our own skills. Too many women don't think that they can be technical or make  the kind of tough decisions you must make to be effective  leaders.&quot; </p>
                <p>In  her role leading large-scale development programs in support of strategic  corporate initiatives, Ms. Callaghan makes tough decisions and demonstrates her  leadership skills daily. The programs she oversees provide essential market  liquidity, promote responsible lending and sustainable home ownership and  facilitate positive industry change. </p>
                <p>Previously,  she served as vice president of Single-Family Servicing/Securitization BTO,  leading key initiatives such as Single Security, Investor Reporting Change,  Loan Advisor Suite and Credit Risk Transfer. Prior to Freddie Mac, she worked  in consulting organizations supporting product development in the defense,  financial and telecommunications domains. </p>
                <p>In  addition to being acknowledged for her work, Ms. Callaghan is also widely  recognized as an advocate for corporate culture change. She has actively  fostered and supported this mission by taking leadership roles with Freddie  Mac's employee resource groups (ERG) and college recruiting programs. She has  chaired the Asian ERG and the Women in Technology Leadership Awards, and was  named one of STEMconnector's 2017 <em>100  Corporate Women Leaders in STEM</em>. </p>
                <p>She  credits much of her success to the fact that, when there hasn't been a paved road  to what she wanted, she blazed her own trail.</p>
                <p>&quot;I  am an Indian female who didn't follow the traditional path laid out for me by my  parents,&quot; she says. &quot;When I went into IT and, specifically, leadership, that  wasn't a traditional path, either. My first job was consulting and I worked in  defense consulting and faced age and gender bias. I haven't been the norm for  any demographic of which I am part. I have often gone against traditional  expectations of what I was supposed to be.&quot; </p>
                <p>For  women in the workplace today, she believes it's important to be true to who you  are. </p>
                <p>&quot;Sometimes  you think that you are expected to behave a certain way, so you behave in ways that  aren't core to who you are,&quot; she says. &quot;To succeed more in the mortgage  industry, women need to take calculated risks, have an opinion and not be  afraid to step out of the box and be true to who we are. You can only fake it  so long.&quot;</p>
                <p>With  Freddie Mac for 23 years, Ms. Callaghan thinks the organization has made supporting  its women leaders a key focus in recent years.</p>
                <p>&quot;We  have groomed a pipeline of women and are continuously looking for more,&quot; she  says &quot;We also foster an environment of openness, collaboration and trying new  things. Do we have more to do? Absolutely. But if you look at the changes we  have made and the doors we've opened for women, we've come a long, long way.&quot;</p>
                <p>She continues  to be a valued mentor, championing the professional development of women at  Freddie Mac and throughout the community. She says she's committed to helping  since mentors gave her the support she needed to come into her own.</p>
                <p>&quot;I  learn from observing and seeing so mentors have helped me a lot, especially two  of them earlier in my career,&quot; she says. &quot;I look for formal and informal  mentors. It doesn't have to be a long, drawn-out process. The mentor  relationship is a safe place to talk openly, test ideas out and get perspective  that you can't get otherwise.&quot;</p>
                <p>She  says that Freddie Mac's focus on advancing women will not only help the  organization stay better connected to the women within its client base and  industry, but also will help create the new generation of leaders within. </p>
                <p>To  that end, she hopes to see more training around culture, diversity, skill sets  and taking risks. It's important to create a safe culture where people can be  themselves and risk taking is welcomed, she says.  </p>
                <p>&quot;We're  getting there,&quot; she says. &quot;If you look at where we are culturally, the doors for  women are open. Now Freddie Mac just needs to keep pushing those doors open  wider.&quot;</p>

              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>