<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Jodi Morton" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_morton.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Jodi Morton</h2>
          <p class="weight-medium no-margin"><em>Vice President, Chief Data Officer<br>Single-Family Division</em></p>              
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Jodi Morton</h2>
        <p class="weight-medium no-margin"><em>Vice President, Chief Data Officer<br>Single-Family Division</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">Jodi Morton leads by example as a member of Freddie Mac's employee resource groups, including Working Parents and Women's Interactive Network (WIN), where her projects such as teaching "Coaching Your Inner Critic," have been well received.  In 2017, she was chosen as Freddie Mac's Working Mother of the Year. And you don't have to sift through a mountain of data to see why HousingWire recently named her a 2018 Woman of Influence.</p>
      <p class="no-margin"><a href="#mortonModal" data-open="mortonModal" aria-controls="mortonModal" class="button medium secondary">More about Jodi
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="mortonModal" data-reveal aria-label="Bio of Jodi Morton">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Jodi Morton</h1>
            <p class="page-subtitle no-margin">Vice President, Chief Data Officer<br>Single-Family Division</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Jodi Morton" src="/leadingtheway/images/headshot_morton.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p>&quot;I  have been in this business for 25 years and was often was the only female in  the room,&quot; says Jodi Morton, vice president and chief data officer in Freddie  Mac's Single-Family division<strong>.</strong> &quot;I  didn't think I fit in at all. Who was my peer group? My peer group were mostly  men whose wives stayed home and raised their children.&quot;<strong></strong></p>
                <p>You  can't look at Ms. Morton's career without noting that she's a woman who's risen  to the top in a largely male-dominated industry. Several years ago, when she  took on the chief data officer role, she wasn't just one of the only women in the  room; she was also one of the only <em>people </em>without an information technology background. Now when she goes to data conferences,  she says she's one of several women chief data officers and she's pleased to  see that many of them have broad business backgrounds.</p>
                <p>In  an environment of ever-changing and evolving business needs and technology, Ms.  Morton is responsible for the development and implementation of the  Single-Family data strategy, which  includes:</p>
                <ul>
                  <li>Data governance, policies, standards and practices.</li>
                  <li>Data quality transparency and reporting.</li>
                  <li>Advancement of data acquisition strategies and analytic capabilities.</li>
                </ul>
                <p>In 2014, she received a crucially important request  from Single-Family's Executive Vice President Dave Lowman: &quot;Go fix our data  problem.&quot; Since then and under Ms. Morton's leadership, Freddie Mac  has morphed into a company that's harnessing the power of data and advanced  analytics like never before.  </p>
                <p>Ms. Morton  also leads by example as a member of Freddie Mac's employee resource groups,  including Working Parents and Women's Interactive Network (WIN), where her projects  such as teaching &quot;Coaching Your Inner Critic,&quot; have been well received.  In 2017, she was chosen as Freddie Mac's Working  Mother of the Year. And you don't have to sift through a mountain of data to see  why <em>HousingWire</em> recently named her a  2018 Woman of Influence. </p>
                <p>She  believes the most important issue women face in the workplace today is their  own internal struggle and, despite her accolades, isn't immune to occasional  self-doubt herself.</p>
                <p>&quot;Some  of us want to be perfect on all fronts – perfect wife, mom, career woman,&quot; she  says. &quot;We need to fight our own inner critic. I am my own worst critic nine  days out of 10. Sometimes you must take a step back, get some perspective and  give yourself a break.&quot;</p>
                <p>While  Ms. Morton believes her male bosses have had the best intentions, she says they  didn't always understand her issues as a working mother, and didn't know how to  help her manage the competing demands.  </p>
                <p>&quot;The  help I needed wasn't necessarily about improving my golf game or addressing a  work issue,&quot; she says. &quot;Often, it was how to keep my work and life in balance. Do  men go through this same struggle in the same way? Probably not and I  understand men have their own challenges. But I think women in particular  struggle with being perfect across all of the roles we play.&quot;</p>
                <p>She  says she's passionate about supporting women in their quests to juggle their  work and home lives since she's been there. </p>
                <p>&quot;I've  come to believe there's no such thing as general work-life balance,&quot; she says. &quot;It's  unique for each person. We each must define what it is for ourselves. I have an  unbelievably supportive husband who supported my career while he built his career.  We split the home duties. He runs with his areas and I run with my mine. But I  talk to a lot of women who don't have that support at home.&quot;</p>
                <p>Ms.  Morton can also relate to the challenges women starting out in their careers  face since she recalls her own. &quot;I spent a lot of time wondering <em>how do I walk into a room?</em> and <em>how do I get heard in those rooms?</em>&quot;</p>
                <p>&quot;I remember  several times when I spoke up but wasn't heard.   Then someone else shared the same idea and the team loved it,&quot; she says.  &quot;You don't want to be pushy but you don't want to be a pushover, either.  It's a tricky balance for women.&quot;</p>
                <p>Based  on her experience, two lessons she's learned and now shares with women trying  to rise to leadership positions are:</p>
                <ul>
                  <li><p><em>Make sure you are  always on your game. Do your homework and be prepared to demonstrate expertise  and leadership.</em></p></li>
                  <li><em>Determine the most  effective way to make your voice heard.   This takes practice and self-awareness of how you are perceived by  others. </em></li>
                </ul>
                <p>While  she's proud to no longer be the only woman in the room, she wants organizations  to continue their progress by focusing on these three areas:</p>
                <ul>
                  <li><p><strong>Greater awareness  building</strong>.  Advancing more women in the workplace will require the understanding and  support of both women and men. &quot;We need to do a better job of engaging male  leaders to help boost equality in the workplace,&quot; she says.</p></li>
                  <li><p><strong>More flexible work  arrangements</strong>.  &quot;They make a huge difference and radically change the way my day works,&quot; she  says. &quot;Let's improve the technology to enable flexibility and put our focus on  achieving bottom line results.&quot;</p></li>
                  <li><p><strong>Ongoing learning that's  part of your job</strong>.  &quot;Ongoing learning should be an accepted part of every organization's culture,&quot;  she says. &quot;And you shouldn't have to take eight hours of training and then work  eight extra hours to make up for it.&quot;</p></li>
                </ul>
              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>