<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Jacqueline Welch" class="border-white border-3 shadow-southeast" src="/leadingtheway/images/headshot_welch.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Jacqueline Welch</h2>
          <p class="weight-medium no-margin"><em>Chief Diversity Officer and Head of Human Resources, Diversity and Inclusion</em></p>             
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Jacqueline Welch</h2>
        <p class="weight-medium no-margin"><em>Chief Diversity Officer and Head of Human Resources, Diversity and Inclusion</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">&quot;I firmly believe that a company is only as good as its people. Freddie Mac is no different,&quot; says Jacqueline &quot;Jacqui&quot; Welch. &quot;It is vitally important that we enable our diverse perspectives to drive the achievement of our twin goals of building a better company and a better housing finance system.&quot;</p>
      <p class="no-margin"><a href="#welchModal" data-open="welchModal" aria-controls="welchModal" class="button medium secondary">More about Jacqueline
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="welchModal" data-reveal aria-label="Bio of Jacqueline Welch">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Jacqueline Welch</h1>
            <p class="page-subtitle no-margin">Chief Diversity Officer and Head of Human Resources, Diversity and Inclusion</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Jacqueline Welch" src="/leadingtheway/images/headshot_welch.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;Individuals can prepare themselves to take advantage of  opportunity. But that's not the whole story. Discriminatory systems and practices must be rooted out.&rdquo;</strong></p> 

                <p>&quot;I firmly  believe that a company is only as good as its people. Freddie Mac is no  different,&quot; says Jacqueline &quot;Jacqui&quot; Welch, chief diversity  officer and head of Human Resources, Diversity and Inclusion. &quot;It is vitally important that we  enable our diverse perspectives to drive the achievement of our twin goals of  building a better company and a better housing finance system.&quot;</p>
                <p>With Freddie  Mac since 2016, Ms. Welch is a 20-year HR strategist with a track record of  execution in the areas of performance management, compensation, learning and  development and other talent management disciplines. In her role as chief  diversity officer, she leads Freddie Mac's diversity and inclusion strategy for  its workforce and supplier diversity programs, as well as across business  activities. Prior to Freddie Mac, she served as senior vice president of  international human resources for Turner  Broadcasting. </p>
                <p>She sees the challenges women  in the mortgage industry face as not that different from what women in other  industries face, primarily playing &quot;catch up.&quot;</p>
                <p>&quot;Women  are late to workplace leadership,&quot; she says. &quot;We haven't been active  participants because we haven't been in the workplace as long. Women are still  playing catch up to be part of higher-level leadership.&quot;  </p>
                <p>Her goal  at Freddie Mac is to speed up that &quot;catch up&quot; process by rooting out any  systems or processes that deliberately or inadvertently disadvantage individual  career success. She is full of innovative ideas on how to do just that.</p>
                <p>&quot;Helping  more women advance in this industry can't always come down to individual behavior  choices,&quot; she says. &quot;That's not how bias works. The real work is determining  if, when and how our systems are biased. People can only behave as badly as the  systems allow them.&quot;</p>
                <p>Ms.  Welch wants organizations to investigate their systems to make sure they are  equitable with everyone. She wants to know how they are pressure checking their  systems and evaluating for bias. And she wants assurances that if they find out  that a system is set up to favor one group over another, the organization will fix  that.</p>
                <p>She  cites a recent example of how Freddie Mac checked its systems and found a progressive  way to support its women leaders. </p>
                <p>&quot;We  no longer ask internal <strong><em>or</em></strong> external candidates for their  previous salary histories,&quot; she says. &quot;This enforces equity in hiring and,  especially, helps minority and women candidates break a cycle of pay inequity. We  also require that all who operate on behalf of Freddie Mac follow our rules  governing equality both inside and outside of Freddie Mac.&quot; </p>
                <p>A second  innovation idea centers around mentoring, coaching and sponsoring relationships.  She says it's her favorite topic in the world to discuss, in part because she's  seen how people conflate mentoring with coaching and sponsoring. She's on a  mission to set the record straight for the good of future women leaders.  </p>
                <p>She  notes that the word &quot;mentor&quot; comes from <em>The  Odyssey</em> and Greek mythology: a mentor walks the journey alongside the hero.  Coaches are transactional by nature. If you have specific questions, you ask  the coach for guidance. A sponsor talks favorably about you in meetings where you  aren't in attendance and can't speak for yourself.  </p>
                <p>&quot;Here's  the thing,&quot; she says. &quot;Women are over-mentored and do a lot of mentoring. We  don't have enough coaches and sponsors. Lots of people may cheer us on and hear  our sad stories. But we don't have people who say, &lsquo;Start doing this, stop  doing that, let's roleplay you asking for more money,' and things of that  nature.&quot;</p>
                <p>When  it comes to coaching future women leaders, Ms. Welch is quick to tell them, &quot;Always  ask for what you want.  Women need to  learn to negotiate for ourselves. Don't be afraid to ask for a higher salary. <em>Ask</em>. And if someone says no to you, you  are morally obligated and duty bound to follow up by asking that person, &lsquo;What  would have made you say yes?'&quot;</p>
                <p>She is  often asked about how best to approach sexism and racism, both overt and  covert, in the workplace. She shares a lesson she learned the hard way: <em>you can't control what people may be  thinking, but you can always control how you act</em>. </p>
                <p>&quot;I  started in retail, which is a tough industry on the young,&quot; she says. &quot;I saw  that the higher up the ladder people went, the leaders were mostly male. One  day I walked into a room with a bunch of white guys and got a sense that the odds  were against me. But I thought to myself, <em>I  am never going to get distracted by what other people might be thinking</em>.&quot; </p>
                <p>In  addition to women supporting each other, there are three ways that Ms. Welch  would like to see more men support the cause of advancing women in the mortgage  industry.</p>
                <ol>
                  <li><p><strong>If you see  something, say something</strong>. &quot;Men know how to speak to men,&quot; she says. &quot;If you  see another man acting dishonorably towards a woman and using his positional  authority to do so, you have a moral obligation to say, &lsquo;Cut it out.'&quot;</p></li>
                  <li><p><strong>Realize that until  we are all involved, it's not going to change</strong>. &quot;We won't reach our goal of  workplace equality and fairness until everyone starts playing on the same level  playing field,&quot; she says.</p> </li>
                  <li><strong>Help change the  systems if they need fixing</strong>. &quot;Individuals can change themselves to create more  opportunity,&quot; she says. &quot;But that's not the whole story. Discriminatory systems  and practices must be rooted out.&quot;</li>
                </ol>

              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>