<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Donna Corley" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_corley.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Donna Corley</h2>
          <p class="weight-medium no-margin"><em>Senior Vice President, Division Chief Risk Officer<br>Single-Family Division</em></p>              
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Donna Corley</h2>
        <p class="weight-medium no-margin"><em>Senior Vice President, Division Chief Risk Officer<br>Single-Family Division</em></p> 
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">For someone who's become such a role model to others within Freddie Mac, Donna Corley credits her role model with helping her find her way in business. A 23-year Freddie Mac veteran, she's motivated by supporting other women industry leaders through mentoring.</p>
      <p class="no-margin"><a href="#corleyModal" data-open="corleyModal" aria-controls="corleyModal" class="button medium secondary">More about Donna
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="corleyModal" data-reveal aria-label="Bio of Donna Corley">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Donna Corley</h1>
            <p class="page-subtitle no-margin">Senior Vice President, Division Chief Risk Officer<br>Single-Family Division</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Donna Corley" src="/leadingtheway/images/headshot_corley.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;As the next generation sees us succeeding, they will follow our lead and broaden into different functions and capacities, too. They'll see it's possible.&rdquo;</strong></p> 
                <p>For  someone who's become such a role model to others within Freddie Mac, Donna  Corley, division chief risk officer for Freddie Mac's Single-Family business, credits  her role model with helping her find her way in business.</p>
                <p>&quot;Having  a role model was huge early in my career,&quot; she says. &quot;Many of my predecessors  had stay-at-home husbands and/or nannies. I was a young mother and that setup  didn't seem real to me.  I had a female  sponsor who helped me see ways that I could carve out what I needed with work-  life balance. And honestly, one lunch we had 12 years ago, where we covered so  many work-related topics during a short time, inspired me then and inspires me  to this day. You don't have to do something huge to make a lasting impact in  someone's life and the industry.&quot; </p>
                <p>Speaking  of impact, Ms. Corley continues to make an important one at work. She is  motivated by innovation and how she can bring a fresh perspective to managing  risk. She's proud to lead a team of approximately 475 employees responsible for  analyzing and managing the risks that impact Freddie Mac's Single-Family  business of financing more than 1.5 million homes annually. On a day-to-day  basis, Ms. Corley establishes credit policy that fosters access to credit in  responsible ways, manages the credit performance for Single-Family mortgages,  oversees counterparty credit, fraud risk and vendor risk, and much more.</p>
                <p>In  2014, she and her team were awarded <em>Euromoney's</em> Global Structured Deal of the Year award and <em>The Banker's</em> Deal of the Year for the Americas for their first  structured agency credit risk (STACR) transaction.   </p>
                <p>She began her Freddie Mac career as  a research analyst and, subsequently, held various portfolio manager positions  within the investment and capital markets division for ten years.</p>
                <p>A 23-year  Freddie Mac veteran, Ms. Corley is also motivated by supporting other women  industry leaders through mentoring.  In  2012, she was honored by<em> Working Mother</em> magazine as a<em> Working Mother of the Year</em> and was named one of <em>HousingWire's Women of Influence 2017</em>. In  terms of challenges facing working women today, she believes the biggest is how  much pressure women put on themselves to do all things and do all things well.  </p>
                <p>&quot;We  are constantly faced with hard choices,&quot; she says. &quot;You think to yourself <em>I could have drinks with colleagues after  work or go home to make dinner for the kids</em>. <em>Or I could go on this golf outing with industry leaders but I need to  get more work done</em> <em>so should I just  focus on the work.</em> It's important both to take care of your personal life  and keep in mind what your employer or boss values. If different people are  using a different scorecard to measure your value, it's worth paying attention  to that.&quot;</p>
                <p>For  more women leaders to succeed in the mortgage industry, she thinks people must  be fully open to all diverse perspective that colleagues bring to the table,  and to value them all.  And that means  treating women like individuals as opposed to a group with just one joint  opinion.  </p>
                <p>&quot;Women  aren't all alike and not all women's views in business are going to be alike,&quot;  she says. &quot;I have managed males who couldn't be more different; one was a  feeler, one was into process flow. I loved seeing that diversity and valued all  their opinions. I hope we'd all do the same with women and their different  views.&quot;</p>
                <p>Two  changes she'd like to see in support of advancing women in the mortgage  industry are women building their business networks as well as more women in  leadership roles and in different functions. </p>
                <p>&quot;When  I look outside of Freddie Mac, I see women in the same types of roles,&quot; she  says. &quot;I want to see women in different working capacities. The fact that  Freddie Mac women leaders manage different functions makes us good role models.   As the next generation sees us  succeeding, they will follow our lead and broaden into different functions and  capacities, too. They'll see it's possible.&quot;</p>

              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>
