<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="Chris Boyle" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_boyle.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">Chris Boyle</h2>
          <p class="weight-medium no-margin"><em>Chief Client Officer<br>Single-Family Office of the Client</em></p>              
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">Chris Boyle</h2>
        <p class="weight-medium"><em>Chief Client Officer</em><br><em>Single-Family Office of the Client</em></p>
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">Chris Boyle is charged up as she talks about championing women in the industry. &quot;Historically, financial services has been more male-dominated, more than some other businesses, and women in the mortgage industry have definitely faced challenges,&quot; she says. &quot;But the landscape is changing for the better.&quot;</p>  
      <p class="no-margin"><a href="#boyleModal" data-open="boyleModal" aria-controls="boyleModal" class="button medium secondary">More about Chris
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="boyleModal" data-reveal aria-label="Bio of Chris Boyle">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">Chris Boyle</h1>
            <p class="page-subtitle no-margin">Chief Client Officer<br>Single-Family Office of the Client</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="Chris Boyle" src="/leadingtheway/images/headshot_boyle.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;The time has come for us to showcase women leaders to raise visibility, support inclusion and promote greater success across our industry.&rdquo;</strong></p> 
                <p>Chris Boyle, chief client officer and head  of Single-Family's Office of the Client and <a href="https://www.housingwire.com/articles/47533-hw-vanguard-christina-boyle" class="offsite">winner of <em>HousingWire</em> 's  2018 Vanguard Award</a> which spotlights leadership and achievement, is charged up as she talks about championing women in the industry.</p>
                <p>&quot;Historically,  financial services has been more male-dominated, more than some other  businesses, and women in the mortgage industry have definitely faced  challenges,&quot; she says. &quot;But the landscape is changing for the better.&quot;</p>
                <p>In  her current role, Ms. Boyle is responsible for client engagement for Freddie  Mac's Single-Family business,  which includes client experience and management, marketing, bulk purchases and  servicing exchange executions. As a member of the executive leadership  team, she brings her passion for fostering equal opportunities to the table – one  she proudly describes as more inclusive for women than a few other industry  tables she's seen during her long and successful career, which, prior to  Freddie Mac, included leadership roles with NBD, Carteret S&amp;L, and Goldome  Bank.</p>
                <p>Ms.  Boyle's story of often being the only woman in leadership meetings isn't  unusual. But her attitude is, and always has been, ever since she kicked off  her career over 30 years ago. She attributes that to her upbringing.</p>
                <p>&quot;I never focus on the roles of men or  women in the way that some do, because I wasn't raised that way,&quot; she says. &quot;I  focus more on people and what attributes each person brings to the table. For  women to succeed more, I think we need to wrestle with our own biases about ourselves.  Don't see limits. See the value that comes from having multiple opinions which  add so much to an organization.&quot; </p>
                <p>Of  all the issues facing women in the workplace today, she thinks work-life  balance is the most important.</p>
                <p>&quot;Even  with shared parental duties, there are unique aspects for women that require us  to face unique work-life balance challenges,&quot; she says. &quot;Do women face a kind  of silent judgment from male colleagues when they take time for maternity leave  and work-life balance?  Maybe so.&quot;</p>
                <p>Raising  awareness of &ndash; and calling out and correcting &ndash; attitudes and behaviors that  hinder women in the workplace is a true passion for her. She knows there's  power in visibility and in supporting her peers and the next generation of  women on the rise </p>
                <p>As  someone who credits mentors with helping her get ahead, she's actively involved  in mentoring the next generation of women leaders, through the Women's  Interactive Network (WIN) employee resource group at Freddie Mac, as well as sharing  her expertise outside the organization at conferences and events. Some of the  questions she receives involve work-life balance, but more are about  understanding the culture of individual organizations as well as fit and growth  opportunities.</p>
                <p>&quot;I  tell mentees that you must make choices about how to spend your time,&quot; she  says. &quot;Some of those may be driven by economic decisions. Setting the right  table and expectations for yourself and those around you is important. And if  you know what your skills are, they are applicable to so many paths.&quot;</p>
                <p>While  she chose to take her foot off the pedal to raise her five children, her credo  is: <em>No decision is ever your last  decision.</em> Once her kids were older, she decided to return to the workforce  full throttle. She credits getting back in the driver's seat to keeping her eyes  open to opportunities and her skills current, and by refusing to accept limits  imposed by others.</p>
                <p>Of  all the positive change she's seen during her Freddie Mac tenure, she's particularly  proud of the organization's commitment to advancing women, and knows it's no  accident. She attributes that to both male leaders who are true partners and  sponsors as well as to women leaders. </p>
                <p>&quot;We  don't just want a culture of strong women who support women, but also strong  men who support women,&quot; she says. &quot;We've worked very hard to have diversity of  thought and talent that we know leads to bottom line results. We understand the  value of skills and moving people along based on their skill sets, regardless  of gender.&quot;</p>
                <p>She  also knows there's still work to be done.</p>
                <p>At  the top of her priority list is raising the visibility of women leaders from  all disciplines and companies across the industry. She's also advocating for  greater professional development and training to make sure that women have  opportunities to bring their skills to new areas where they can develop those  skills, thrive and grow.</p>
                <p>&quot;Freddie  Mac has made the kind of cultural transformation that puts us in the lead,&quot; she  says. &quot;We've shown great leadership within the financial services industry. Now  we need to keep leading the way and showing the path for women leaders.&quot;</p>
              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>