<div class="row gutter-bottom">
  <div class="column medium-3 large-4">
    <div class="row gutter-bottom">
      <div class="column small-5 medium-12">
        <div class="gutter-top-medium gutter-bottom-small-only">
          <!--LEADER PHOTO -- add name in alt text -->
          <img alt="David Lowman" class="border-white  border-3 shadow-southeast" src="/leadingtheway/images/headshot_lowman.jpg">
        </div>
      </div>
      <!--NAME AND TITLE FOR SMALL ONLY-->
      <div class="column small-7 hide-for-medium position-relative">
        <div class="">            
          <h2 class="text-flex-24-28" style="margin-bottom: 0.25em;">David Lowman</h2>
          <p class="weight-medium no-margin"><em>Executive Vice President<br>Single-Family Business</em></p>              
        </div>
      </div>
    </div>
  </div>
  <div class="column medium-9 large-8">
    <div class="gutter-top-medium">
      <!--NAME AND TITLE FOR MEDIUM AND ABOVE-->
      <div class="show-for-medium">
        <h2 class="no-margin">David Lowman</h2>
        <p class="weight-medium no-margin"><em>Executive Vice President<br>Single-Family Business</em></p>  
      </div>
      <!--BIO BLURB AND MORE FOR ALL WIDTHS-->
      <p class="weight-normal text-static-16-18 no-margin gutter-bottom">Ever since joining Freddie Mac in 2013 as executive vice president for the Single-Family business, Dave Lowman has championed the advancement of women leaders within the company. Several women executives specifically cite him as the boss who saw their potential, took a chance and promoted them to higher positions within his leadership team. </p>
      <p class="no-margin"><a href="#lowmanModal" data-open="lowmanModal" aria-controls="lowmanModal" class="button medium secondary">More about David
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </p>
    </div>
  </div>
</div>
<div class="gutter-bottom-large"></div>
<!--BIO FOR ABOVE LEADER -->
<div class="reveal full background-sapphire" id="lowmanModal" data-reveal aria-label="Bio of David Lowman">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="accent-green no-margin">David Lowman</h1>
            <p class="page-subtitle no-margin">Executive Vice President<br>Single-Family Business</p>
          </div>
          <div class=" callout xlarge background-white">
            <div class="row large-collapse">
              <div class="medium-5 large-4 column">
                <figure>
                  <img alt="David Lowman" src="/leadingtheway/images/headshot_lowman.jpg">
                </figure>
              </div>
              <div class="medium-7 large-offset-1 large-7 column weight-normal accent-dark-gray">
                <p class="lead intro"><strong>&ldquo;We need to celebrate successes and create more visible role models for the next generation of women leaders.&rdquo;</strong></p> 
                <p>Ever since joining Freddie Mac in 2013 as executive vice president for the  Single-Family business, Dave Lowman has championed the advancement of women  leaders within the company. Several women executives specifically cite him as  the boss who saw their potential, took a chance and promoted them to higher  positions within his leadership team. </p>
                <p>&quot;Women  have faced challenges in the historically male-dominated mortgage industry,&quot;  says Mr. Lowman, who's worked in the mortgage and consumer finance business for  over 30 years. &quot;There's clearly a glass ceiling. If you look at our industry  broadly, women dominate in the workforce but aren't as well represented in the  senior roles.&quot;</p>
                <p>As head of Single-Family, Mr. Lowman has broad responsibility for the line  of business, including managing the company's relationships with its  Seller/Servicers, the performance of Freddie Mac's guarantee book of business,  securitization of new business, and all sourcing, servicing and business  operations. While he's proud of how Freddie Mac is leading the way for women in  the industry, he's keenly aware that there's more to do to build diversity and level  the playing field. </p>
                <p>&quot;Several  things need to happen for more women leaders to succeed in the mortgage  industry,&quot; he says. &quot;The first is raised awareness. The second is more  education and encouragement for women to take on financial and capital markets  roles so they have that acumen. The third is more rigor around diversity or  you're never going to get to fair opportunities for all. Finally, we need to  celebrate successes and create more visible role models for the next generation  of <br>
                  women  leaders.&quot; </p>
                <p>When  it comes to the ultimate goal, there are no limits. </p>
                <p>&quot;If  we can remove whatever glass ceiling is there and women make it into director  and vice president roles at any organization, then it's likely that the next  CEO will be a woman,&quot; he says.</p>
              </div>                  
            </div>
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div> 
      </div>
    </div> 
  </div>
</div>