<!-- What's New -->

<div class="row medium-up-2 large-up-4 text-left" data-equalizer="">
  <div class="column column-block">
    <div class="background-white">
      <a class="block">
        <img class="no-border" src="/singlefamily/duty-to-serve/images/ch-card_choicehome_video.jpg" alt="ChoiceHome Video">
      </a>
      <div class="callout hollow-thin background-concrete" data-equalizer-watch="">
        <h3 class="card-title weight-medium"><a>Introducing CHOICEHome</a></h3>
        <p class="flex-up accent-sapphire">Flexible financing, enhanced loan origination, high-quality options.</p>
      </div>
    </div>  
  </div>
  <div class="column column-block">
    <div class="background-white">
      <a class="block">
        <img class="no-border" src="/singlefamily/duty-to-serve/images/ch-card-flyer.jpg" alt="Quick Facts">
      </a>
      <div class="callout hollow-thin background-concrete" data-equalizer-watch="">
        <h3 class="card-title weight-medium"><a class="block" data-open="chModal3" aria-controls="chModal3">CHOICEHome Quick Facts:</a></h3>
        {{> choice-home-quick-facts-modal}}
        <p class="flex-up accent-sapphire">Just click and learn.</p>
      </div>
    </div>  
  </div>
  <div class="column column-block">
    <div class="background-white">
      <a class="block">
        <img class="no-border" src="/singlefamily/duty-to-serve/images/ch-card-flyer.jpg" alt="Lender postcard">
      </a>
      <div class="callout hollow-thin background-concrete" data-equalizer-watch="">
        <h3 class="card-title weight-medium"><a href="#">Lender postcard:</a></h3>
        <p class="flex-up accent-sapphire">Spread the word about CHOICEHome financing.</p>
      </div>
    </div>  
  </div>
  <div class="column column-block">
    <div class="background-white">
      <a class="block">
        <img class="no-border" src="/singlefamily/duty-to-serve/images/ch-card_specs.jpg" alt="CHOICEHome Features and Financing">
      </a>
      <div class="callout hollow-thin background-concrete" data-equalizer-watch="">
        <h3 class="card-title weight-medium"><a data-open="chModal1" aria-controls="chModal1">CHOICEHome Features and Financing:</a></h3>
        <p class="flex-up accent-sapphire">It's all about the options</p>
      </div>
    </div>  
  </div>
  {{> choice-home-features-modal }}
</div>

