<style>
  .program-margin{
    padding-top:0.6125rem;
    padding-bottom:0.6125rem;
  }
  .fill-img{
    width: 100%;
  }
</style>
<div class="row">
  <div class="small medium-8 small-centered column">
    <div class="row large-up-2">
      <div class="column column-block">
        <div class="background-white" data-equalizer-watch="ch-programs">
          <img class="no-border fill-img"  src="/singlefamily/duty-to-serve/images/ch-feature-roofpitch-480.jpg" alt="ChoiceHome features higher pitch roof lines">
          <div class="program-margin background-primary">
            <p class="flex-up weight-bold text-center no-margin">Higher pitch roof lines</p>
          </div>
        </div>           
      </div>
      <div class="column column-block">
        <div class="background-white" data-equalizer-watch="ch-programs">
          <img class="no-border fill-img"  src="/singlefamily/duty-to-serve/images/ch-feature-foundation-480.jpg" alt="ChoiceHome features lower profile foundations">
          <div class="program-margin background-primary">
            <p class="flex-up weight-bold text-center no-margin">Lower profile foundations</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="row large-up-3" data-equalizer="ch-programs">
  <div class="column medium-8 small-centered column-block">
    <div class="background-primary" data-equalizer-watch="ch-programs">
      <img class="no-border fill-img"  src="/singlefamily/duty-to-serve/images/ch-feature-energy-efficient-480.jpg" alt="ChoiceHome features energy efficient features">
      <div class="program-margin background-primary">
        <p class="flex-up weight-bold text-center no-margin">Energy efficient features</p>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="column medium-8 small-centered column-block">
    <div class="background-primary" data-equalizer-watch="ch-programs">
      <img class="no-border fill-img"  src="/singlefamily/duty-to-serve/images/ch-feature-drywall-480.jpg" alt="ChoiceHome features drywall throughout">
      <div class="program-margin  background-primary">
        <p class="flex-up weight-bold text-center no-margin">Drywall throughout</p>
      </div>
    </div>
  </div>
  <div class="column medium-8 small-centered column-block">
    <div class="background-primary" data-equalizer-watch="ch-programs">
      <img class="no-border fill-img"  src="/singlefamily/duty-to-serve/images/ch-feature-attributes-480.jpg" alt="ChoiceHome features Site-built components such as a garage">
      <div class="program-margin background-primary">
        <p class="flex-up weight-bold text-center no-margin">Site-built components such as a garage</p>
      </div>
    </div>  
  </div>
</div>




