<div class="row">
  <div class="column">
    <div class="callout background-sapphire">
      <div class="row">
        <div class="column small large-9 text-left" data-equalizer-watch>
          <h3>Purchase your CHOICEHome label</h3>
          <p style="font-size:1.125rem;" class="no-margin-bottom">Certify that your home meets the manufacturing elgibility requirements of CHOICEHome.</p>
        </div>
        <div class="column small large-3 small-text-left medium-text-left large-text-right-only gutter-right-large" data-equalizer-watch>
          <a href="https://choicehomes.filelabel.co/" class="button tertiary secured offsite">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>