<div class="reveal background-primary" id="chModal2" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Single-Family Duty to Serve</h2>
        </div>
        <div class="modal-page-header">
          <h1 style="margin-bottom: 0.75em;">CHOICEHome FAQs</h1>              
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <ol class="accordion-faq" data-accordion>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What is CHOICEHome?</a>
                  <div class="accordion-content" data-tab-content>
                    A: CHOICEHome is a new type of high-quality, energy-efficient, real property factory-built home, built to the HUD code, with features comparable to site-built homes, including, drywall throughout higher-pitch roof line, energy-efficient features, lower profile foundation, plus additional options such as a garage or carport
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">When will CHOICEHome financing be available broadly?</a>
                  <div class="accordion-content" data-tab-content>
                    Before CHOICEHome is launched broadly, Freddie Mac will conduct a three-year pilot to bring conventional loan financing to this type of factory-built home. We'll test all aspects of the loan origination process to see what works and what doesn't, so we bring valuable financing terms to market
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How can I participate as a Seller of CHOICEHomeSM to Freddie Mac?</a>
                  <div class="accordion-content" data-tab-content>
                    We have a limited number of customers experienced in manufactured housing lending participating in the initial phase of the pilot. As industry production of these homes begins to ramp up, we will consider adding customers to the pilot, potentially as soon as the third quarter of 2019.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Who are the pilot participants? </a>
                  <div class="accordion-content" data-tab-content>
                    A:  Participants include manufacturers and retailers, small and large; Freddie Mac lenders who are already financing factory-built homes; mortgage insurers; and the Appraisal Institute.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How did you choose the lenders for the pilot?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  We chose participants who are already financing loans in the factory-built housing space and are familiar with the process and requirements of factory-built homes titled as real property.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Are there any limitations on manufacturer participation?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  No. We're not limiting manufacturers. Any manufacturer, irrespective of size, can participate in the pilot. We'll provide them with the CHOICEHome specifications.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What are the CHOICEHome specifications?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  The specifications are:
                    <ul>
                      <li>Drywall throughout</li>
                      <li>5/12 roof incline</li>
                      <li>Energy-efficient features</li>
                      <li>Lower profile foundation</li>
                      <li>Garage or carport</li>
                  </ul>
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What outcomes do you expect from the pilot?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  With this pilot, we hope to:
                    <ul>
                      <li>Increase standardization and create efficiency in the loan origination process between site- built and factory-built homes</li>
                      <li>Provide technical expertise on the underwriting of the borrower and valuation of the property</li>
                      <li>Track overall loan performance — we're applying site-built collateral parameters to CHOICEHome and want to see how well these loans perform.</li>
                      <li>Increase the volume of factory-built homes titled as real property</li>
                      <li>Promote factory-built homes as a high-quality, viable, affordable housing option</li>
                    </ul>
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How long is the CHOICEHome pilot?</a>
                  <div class="accordion-content" data-tab-content>
                    A: We anticipate the pilot will run for three years.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Are you limiting the pilot to certain states?</a>
                  <div class="accordion-content" data-tab-content>
                    A: No. We're not. It's a nationwide pilot.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Is there training available for appraisers for this pilot?</a>
                  <div class="accordion-content" data-tab-content>
                    A: Yes. We're working with the Appraisal Institute to develop training to educate appraisers and appraisal management companies about factory-built housing, so they have an understanding of the CHOICEHome offering.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Is a CHOICEHome eligible for construction conversion loans under the pilot?</a>
                  <div class="accordion-content" data-tab-content>
                    A: Yes. Any CHOICEHome is eligible for our construction loan offerings.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How will builders identify the CHOICEHome certification. Will you have a identification feature so a CHOICEHome is easily identifiable by appraisers?</a>
                  <div class="accordion-content" data-tab-content>
                    A: We're working with manufacturers on a certification process and methodology, perhaps a notice placed inside the home, that indicates it's a CHOICEHome.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Can CHOICEHome be used with fixed-rate mortgages and ARMs?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  Yes. It can be used with fixed-rate mortgages and 5/1, 5/5, 7/1,10/1 ARMs.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What are the CHOICEHome occupancy requirements?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  CHOICEHome must be the borrowers' primary residence.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What's the CHOICEHome loan to value (LTV)?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  CHOICEHome LTV can be up to 97 percent with a Home Possible Advantage&reg; and HomeOne mortgage.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How is a CHOICEHome property appraised?</a>
                  <div class="accordion-content" data-tab-content>
                    A:  They are appraised like site-built homes, with appraisals completed on the Manufactured Home Appraisal Report. (Form 70B and allowing the use of site-built homes as comparable sales when no ChoiceHome is available).
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What's the property eligibility for CHOICEHome?</a>
                  <div class="accordion-content" data-tab-content>
                    A: Multi-section factory-built homes, with a minimum of 1,200 square feet of gross living area.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How can a borrower obtain land to place a CHOICEHome? In other words, how do they go from them getting the land to getting the home?</a>
                  <div class="accordion-content" data-tab-content>
                    A: A borrower may purchase the land with the assistance of a realtor, or the factory-built home retailer may know of land available in their service area. The customer may already own the land or receive the land as a gift or inheritance from a family member. You can purchase a CHOICEHome through a factory-built home retailer.
                  </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">I'm a manufacturer based in Arizona/California, having a 5/12 roof incline is problematic. What are the alternatives?</a>
                  <div class="accordion-content" data-tab-content>
                    A: Minimum standards for a CHOICEHome are higher pitch roof lines, if a factory-built home doesn't meet this standard, we have other factory-built home conventional loan options available in our Guide.
                  </div>
              </li>
            </ol>
          </div>
        </div>
        <br class="reduce"> 
      </div>
    </div>
    <div class="callout small-to-large"></div>
    <div class="callout small-to-large"></div>
    <div class="callout small-to-large"></div>
  </div>
</div>