<div class="reveal background-primary" id="chModal3" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>CHOICEHome Quick Facts</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-sapphire horizontal-gradient-dark-left top-v-overlay">
              <p class="weight-normal flex-up gutter-bottom">CHOICEHome<sup>SM</sup> conventional financing for manufactured housing to help increase the availability of the quality affordable homes that borrowers want, while providing lenders with the innovative financing options they need. A CHOICEHome:</p>
            </div>
            <br class="reduce">
            <div class="row large-up-2" data-equalizer="qf-1">
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-1" >
                  <p class="subheader" style="font-size:1.125rem">
                    Will be appraised using the Manufactured Home Appraisal Report (Form 70B) and allow the use of site-built homes as comparable sales when there are no CHOICEHome sales available as comparables.<br><br>
                    <span class="reduce"><strong>Please note:</strong> We're working with the Appraisal Institute to develop training to educate appraisers and appraisal management companies about factory-built housing, so they have an understanding of the CHOICEHome offering.</span>
                  </p>
                </div>
              </div>
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-1">
                  <p class="subheader" style="font-size:1.125rem">
                    Will be financed using most of our conventional loan products, including construction conversion mortgages, and as little as 3 percent minimum down payment for Home Possible&reg; borrowers and HomeOne<sup>SM</sup> first-time homebuyers.
                  </p>
                </div>
              </div>
            </div>
            <div class="row large-up-2" data-equalizer="qf-2">
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-2" >
                  <p class="subheader" style="font-size:1.125rem">
                    Must meet HUD requirements for home construction, installation and setup to meet CHOICEHome eligibility. Lenders must still follow local and state laws for titling manufactured homes as real estate.
                  </p>
                </div>
              </div>
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-2">
                  <p class="subheader" style="font-size:1.125rem">
                    Have a CHOICEHome label affixed that
                  </p>
                  <ul class="subheader" style="font-size:1.125rem">
                    <li class="no-margin">
                      Certifies the home meets the CHOICEHome manufacturing eligibility requirements. 
                    </li>
                    <li class="no-margin">
                      Is an easy and effective way for appraisers and lenders to accurately identify it as a CHOICEHome.
                    </li>
                  </ul>
                  <ol class="accordion-faq" data-accordion>
                    <li class="accordion-item" data-accordion-item>
                      <a class="accordion-title" href="#">CHOICEHome label sample</a>
                        <div class="accordion-content" data-tab-content>
                          <img src="https://www.freddiemac.com/slearnctr/choicehome/images/CHOICEHomes-Label.png" alt="CHOICEHome label example">
                        </div>
                    </li>
                  </ol> 
                </div>
              </div>
            </div>
            <div class="row large-up-2" data-equalizer="qf-3">
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-3" >
                  <p class="subheader" style="font-size:1.125rem">
                    Must have aesthetic and architectural attributes similar/comparable to those of site-built homes.
                  </p>
                </div>
              </div>
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-3">
                  <p class="subheader" style="font-size:1.125rem">
                    Must be a 1-unit dwelling comprised of multiple sections (a "multiwide” manufactured home.  
                  </p>
                </div>
              </div>
            </div>
            <div class="row large-up-2" data-equalizer="qf-4">
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-4" >
                  <p class="subheader" style="font-size:1.125rem">
                    Can be used with fixed-rate mortgages and 5/1, 5/5, 7/1,10/1 ARMs.
                  </p>
                </div>
              </div>
              <div class="column column-block">
                <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="qf-4">
                  <p class="subheader" style="font-size:1.125rem">
                    Will be submitted through Loan Product Advisor&reg; as a detached single-family home.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="callout small-to-large"></div>
    <div class="callout small-to-large"></div>
    <div class="callout small-to-large"></div>
  </div>
</div> 