<style>
  .cta-finance{
    padding-top:10px;
    padding-bottom:4px;
  }
</style>
<div class="reveal background-primary" id="chModal1" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>CHOICEHome High-Quality HUD-Code Home</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-sapphire horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Personal Property Manufactured Housing (Chattel)</h3>
              <p class="weight-normal flex-up gutter-bottom">CHOICEHome<sup>SM</sup> – the next generation of factory-built housing – needs smart, flexible financing options. And at Freddie Mac, we're doing just that. We're offering a full range of loan products, including single close construction conversion, Home Possible&reg;, HomeOne SM and HFA Advantage&reg;.<br><br>Plus, a CHOICEHome can be appraised using all site-built comparables where no CHOICEHome comparables are available!</p>
            </div>
            <br class="reduce">            
            <div class="background-white">
              <div class="callout background-primary no-margin">
                <h3 class="text-flex-18-24 weight-bold">Required CHOICEHome Features</h3> 
                <p>All the quality and features borrowers want, but at a lower cost.</p>
              </div>
              <div class="callout hollow" style="border-top:none;">
                <div class="row text-left" data-equalizer="features">
                  <div class="column">
                    <div class="">
                      <div class="row">
                        <div class="column large-6 column-block">
                          <img class="full" src="/singlefamily/duty-to-serve/images/ch-feature-roofpitch-480.jpg" alt="ChoiceHome features higher pitch roof lines">
                        </div>
                        <div class="column large-6">
                          
                          <h5 class="accent-sapphire uppercase text-static-16-18 no-margin">Roof pitch</h5>
                          <p class="subheader">Minimum 5/12 roof pitch</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="">
                      <div class="row">
                        <div class="column large-6 column-block">
                          <img class="full" src="/singlefamily/duty-to-serve/images/ch-feature-garage-480.jpg" alt="ChoiceHome features Site-built components such as a garage">
                        </div>
                        <div class="column large-6">
                          
                          <h5 class="accent-sapphire uppercase text-static-16-18 no-margin">Garage</h5>    
                            <p class="subheader">Attached or detached garage /carport (generally conforming and acceptable in the market area)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="">
                      <div class="row">
                        <div class="column large-6 column-block">
                          <img class="full" src="/singlefamily/duty-to-serve/images/ch-feature-energy-efficient-480.jpg" alt="ChoiceHome features energy efficient features">
                        </div>
                        <div class="column large-6">
                          
                            <h5 class="accent-sapphire weight-bold uppercase text-static-16-18 no-margin">Energy Efficiency</h5>
                             <p class="subheader no-margin-bottom">Built to exceed current HUD energy efficiency requirements for the geographic property. The home must also have:</p>
                            <ul class="subheader">
                              <li class="no-margin">Minimum insulation values of 33(ceiling) 11(wall) 22(floor).</li>
                              <li class="no-margin">Energy Star-qualified Low-E windows.</li>
                              <li class="no-margin">A programmable thermostat.</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="">
                      <div class="row">
                        <div class="column large-6 column-block">
                          <img class="full" src="/singlefamily/duty-to-serve/images/ch-feature-attributes-480.jpg" alt="ChoiceHome Attributes">
                        </div>
                        <div class="column large-6">
                          
                          <h5 class="accent-sapphire weight-bold uppercase text-static-16-18 no-margin">Home Attributes</h5>
                            <p class="subheader">Multi-section home with a minimum of 1,200 square feet gross living area.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="">
                      <div class="row">
                        <div class="column large-6 column-block">
                          <img class="full" src="/singlefamily/duty-to-serve/images/ch-feature-drywall-480.jpg" alt="ChoiceHome features drywall throughout">
                        </div>
                        <div class="column large-6">
                          
                          <h5 class="accent-sapphire weight-bold uppercase text-static-16-18 no-margin">Home Interior</h5>
                          <ul class="subheader">
                            <li class="no-margin"> Drywall throughout (interior walls/ceilings, 
                              including closets).</li>
                            <li class="no-margin"> No paper-wrapped cabinets. Home Interior</li>
                            <li class="no-margin"> Drywall throughout (interior walls/ceilings, 
                              including closets).</li>
                            <li class="no-margin"> No paper-wrapped cabinets.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="">
                      <div class="row">
                        <div class="column large-6 column-block">
                          <img class="full" src="/singlefamily/duty-to-serve/images/ch-feature-foundation-480.jpg" alt="ChoiceHome features lower profile foundations">
                        </div>
                        <div class="column large-6">
                          
                          <h5 class="accent-sapphire uppercase text-static-16-18 no-margin">Foundation</h5>
                            <p class="subheader">
                            Permanent Foundation must include the presence of a masonry perimeter or "perimeter blocking"</p>
                        </div>
                      </div>
                    </div>                  
                  </div>
                </div>
              </div>
            <div class="background-white">
              <div class="callout background-primary no-margin">
                <h3 class="text-flex-18-24 weight-bold">Freddie Mac flexible financing options</h3>
                <p>Smart financing options and enhanced loan origination the industry wants and needs.</p>
              </div>
              <div class="callout hollow" style="border-top:none;">
                <div class="row large-up-2" data-equalizer="flexible-options">
                  <div class="column column-block">
                    <div class="callout hollow-thin background-concrete no-margin" data-equalizer-watch="flexible-options" >
                      <h3 class="text-flex-18-24 accent-sapphire">Freddie Mac Home Possible&reg;</h3>
                      <p class="subheader">Perfect for first-time homebuyers, millennials and other underserved consumers, Home Possible helps you put more qualified customers on the path to successful homeownership.</p>
                      <ul class="no-bullet weight-bold subheader">
                        <li>No minimum borrower contribution from borrower personal funds.</li>
                        <li>Gifts from related persons and other sources of funds permitted for down payment and closing costs.</li>
                        <li>97% LTV limit.</li>
                        <li>No reserves required, lowering cash needed to close.</li>
                        <li>Flexible homebuyer education requirement.</li>
                      </ul>                      
                    </div>
                    <a class="offsite block" href="http://www.freddiemac.com/homepossible/">
                      <div class="callout background-primary no-margin cta-finance">
                        <p class="intro enlarge uppercase weight-bold text-center no-margin">more information<span class="icon-chevron-right-white"></span></p>
                      </div>
                    </a>
                  </div>
                  <div class="column column-block">
                    <div class="callout hollow-thin background-concrete no-margin"  data-equalizer-watch="flexible-options">
                      <h3 class="text-flex-18-24 accent-sapphire">Freddie Mac HomeOne</h3>
                      <p class="subheader">With more flexibility for maximum financing, HomeOne provides expanded opportunity and greater certainty to help lenders bring more borrowers to the closing table.</p>
                      <ul class="no-bullet weight-bold subheader">
                        <li>3 percent minimum down payment for first-time homebuyers</li>
                        <li>More flexibility for financing</li>
                        <li>Homebuyer Education requirements support informed, responsible and sustainable homeownership</li>
                      </ul>                      
                    </div>
                    <a class="offsite" href="http://www.freddiemac.com/singlefamily/mortgages/homeone/homeone.html">
                      <div class="callout clear-fix background-primary no-margin cta-finance">
                        <p class="intro enlarge uppercase weight-bold text-center no-margin">more information<span class="icon-chevron-right-white"></span></p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <p class="intro enlarge gutter-left gutter-right text-flex-18-24 weight-bold">With CHOICEHome, you get all the quality, features and flexible financing options the industry wants and needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="callout small-to-large"></div><div class="callout small-to-large"></div><div class="callout small-to-large"></div>
</div>
</div>

 <!--text-flex-18-24-->
