<div class="orbit ease orbit-controls-outside gutter-top gutter-bottom" role="region" aria-label="Quotes" data-orbit data-auto-play="false" data-bullets="false">
  <ul class="orbit-container">
    <li class="orbit-slide gutter-right-large">
      <div class="row large-up-2" data-equalizer="factors">
        <div class="column medium-6 small-centered" style="background-image: url('/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png');background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          
          <div class="gutter-bottom table" data-equalizer-watch="factors">
            <div class="callout gutter-bottom" style="max-width:450px;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Market Trend</p>
              <p class="gutter-bottom" style="text-align: center;">The number-one cited barrier to homeownership is saving funds for a down payment - only <strong>12-13% of renters</strong> believe home would be possible with a <strong>down payment of 5% or less</strong>.</p>
            </div>
          </div>
        </div>
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Who Home Possible Serves</p>
              <p class="gutter-bottom" style="text-align: center;">The <strong>national mean down payment in 2017 was 5%.</strong> Home Possible offers a <strong>3% down payment solution</strong> with flexibility for a range of borrower needs.</p>
            </div>
          </div>
        </div> 
      </div>
    </li>
              
    <li class="orbit-slide gutter-right-large">
      <div class="row large-up-2" data-equalizer="factors">
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Market Trend</p>
              <p class="gutter-bottom" style="text-align: center;">About <strong>21 million millennials</strong> in the 31 largest states are mortgage ready but still rent.</p>
            </div>
          </div>
        </div>
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Who Home Possible Serves</p>
              <p class="gutter-bottom" style="text-align: center;">The share of Home Possible loans for millennials <strong>increased 42%</strong>, from <strong>12.5% in 2017</strong> to <strong>17.7% in 2018</strong>.</p>
            </div>
          </div>
        </div> 
      </div>
    </li>
              
    <li class="orbit-slide gutter-right-large">
      <div class="row large-up-2" data-equalizer="factors">
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px;">
              <p class="section-subtitle weight-black" style="text-align: center;"><br>Market Trend</p>
              <p class="gutter-bottom" style="text-align: center;">With rising home prices and interest rates, plus tight lending standards, the path to homeownership is challenging, especially for <strong>low-to-median-income borrowers and first-time homebuyers.</strong></p>
            </div>
          </div>
        </div>
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px; vertical-align: middle;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Who Home Possible Serves</p>
              <p class="gutter-bottom"  style="text-align: center;">First-time homebuyers make up the largest share of Home Possible borrowers at <strong>79.3%</strong>, much higher than the <strong>42.4%</strong> in our business overall.</p>
            </div>
          </div>
        </div> 
      </div>
    </li>
              
    <li class="orbit-slide gutter-right-large">
      <div class="row large-up-2" data-equalizer="factors">
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px; vertical-align: middle;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Market Trend</p>
              <p class="gutter-bottom" style="text-align: center;">Hispanics are expected to make up the <strong>largest segment</strong> of new homebuyers <strong>by 2020</strong>.</p>
            </div>
          </div>
        </div>
        <div class="column medium-6 small-centered" style="background-image: url(/singlefamily/mortgages/homepossible/img/hp_50Billion_MarketTrend_block.png);background-repeat:no-repeat;background-size:contain, cover;min-height:280px;min-width:460px;">
          <div class="gutter-bottom" data-equalizer-watch="factors">
            <div class="callout gutter-top" style="max-width:450px; vertical-align: middle;"><br><br>
              <p class="section-subtitle weight-black" style="text-align: center;">Who Home Possible Serves</p>
              <p class="gutter-bottom" style="text-align: center;">An average of <strong>13.6%</strong> of Home Possible mortgages have gone to <strong>Hispanic buyers</strong>, getting us one step closer to reducing the Hispanic homeownership gap.</p>
            </div>
          </div>
        </div> 
      </div>
    </li>
  </ul>
</div>