<div class="row">
  <div class="column xlarge-offset-1 large-4"> 
    <div class="gutter-right-large">
      <p class="text-flex-15-18 uppercase weight-bold accent-primary half-margin-bottom">Infographic</p>
      <h2 class="text-flex-26-42 gutter-bottom no-margin accent-sapphire">Borrowers want affordable housing? Manufactured housing is a viable option.</h2>
      <p><a data-open="mhInfoModal" aria-controls="mhInfoModal" class="button secondary medium">View the Journey Map</a></p>
    </div>
  </div>
  <div class="column large-8 xlarge-6 end"> 
     <a  data-open="mhInfoModal" aria-controls="mhInfoModal"><img src="images/infographic_mfg_housing_promo.jpg" alt=""></a>
  </div>
</div> 
<div class="reveal background-primary" id="mhInfoModal" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Single-Family Duty to Serve</h2>
        </div>
        <div class="callout large background-white" style="margin: 0 auto; max-width:59rem;">
          <p class="text-center"><img style="max-width:187px;max-height:65px;" src="/images/FreddieMacLogo.svg" alt="logo" class="no-border"></p>
          <div class="callout small-to-large">
            <div class="callout background-sapphire horizontal-gradient-dark-left top-v-overlay">
              <h3 class="text-flex-22-30" style="margin-bottom: 0.5em;">Achieve the American Dream with Manufactured Housing</h3>
              <h4 class="text-flex-16-20 accent-yellow"><span class="enlarge">Who says you can’t manufacture a dream?</span></h4>
              <p class="weight-normal flex-up gutter-bottom">The demand for quality, affordable housing has never been greater – manufactured homes are a viable option to help fill that need.</p>
            </div>
            <p class="text-flex-18-24 weight-normal">Here are seven steps to financing, building and owning a manufactured home.</p>
            <!-- Step -->
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden; min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 1</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Spend time researching the following online</p>
              </div>       
            </div>
            <div class="callout hollow no-margin" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step1_icons1.png" alt="list: areas to live, available homes, floorplans"></div>
                <div class="column medium-6"><img src="images/step1_icons2.png" alt="list: customer reviews, pricing, financial options"></div>
             </div>
             <p class="gutter-top background-white weight-normal">Prospective buyers that need additional assistance before starting the home shopping journey, can find housing counseling services and homebuyer education specific to manufactured housing with Freddie Mac and Next Step’s SmartMH Program.</p>
            </div>
            <div class="gutter-bottom"></div>
            
            <!-- Step -->            
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden;min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 2</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Visit a manufactured home retailer</p>
              </div>       
            </div>
            <div class="callout hollow" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step2_thumb1.jpg" alt=""></div>
                <div class="column medium-6"><img src="images/step2_thumb2.jpg" alt=""></div>
             </div>
             <p class="gutter-top background-white weight-normal">Check out the variety of available amenities and select the home model that’s right for you and receive a cost estimate. Hundreds of floorplans and designs are available.</p>
            </div>
            <div class="gutter-bottom"></div>
            
            <!-- Step -->            
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden;min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 3</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Submit an application to a lender</p>
              </div>       
            </div>
            <div class="callout hollow" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step3_thumb1.jpg" alt=""></div>
                <div class="column medium-6"><img src="images/step3_thumb2.jpg" alt=""></div>
             </div>
             <p class="gutter-top background-white weight-normal">Discuss financing, get approved and order a home. You can select a <strong>single close construction conversion loan</strong> or a <strong>two-close construction conversion loan</strong>. Once financing is confirmed, you can order the home and construction begins.</p>
            </div>
            <div class="gutter-bottom"></div>
            
            <!-- Step -->            
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden;min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 4</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Submit an application to a lender</p>
              </div>       
            </div>
            <div class="callout hollow" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step4_thumb1.jpg" alt=""></div>
                <div class="column medium-6"><img src="images/step4_thumb2.jpg" alt=""></div>
             </div>
             <p class="gutter-top background-white weight-normal">Manufacturer builds the house offsite in climate-controlled factory.</p>
            </div>
            <div class="gutter-bottom"></div>
            
            <!-- Step -->            
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden;min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 5</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Site purchase and preparation</p>
              </div>       
            </div>
            <div class="callout hollow" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step5_thumb1.jpg" alt=""></div>
                <div class="column medium-6"><img src="images/step5_thumb2.jpg" alt=""></div>
             </div>
             <p class="gutter-top background-white weight-normal">As home is being built, you oversee site purchase and preparation, including pouring the foundation footers and running utilities. When complete, the home is shipped to the retailer for delivery.</p>
            </div>
            <div class="gutter-bottom"></div>

            
            <!-- Step -->            
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden;min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 6</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Delivery, construction and installation </p>
              </div>       
            </div>
            <div class="callout hollow" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step6_thumb1.jpg" alt=""></div>
                <div class="column medium-6"><img src="images/step6_thumb2.jpg" alt=""></div>
             </div>
             <p class="gutter-top background-white weight-normal">Home is delivered to site and placed on the foundation. The different home sections are joined together, the utilities connected and the finishing touches are applied.</p>
            </div>
            <div class="gutter-bottom"></div>

            
            <!-- Step -->            
            <div class="media-object collapse background-primary text-flex-16-24 weight-bold" style="overflow:hidden;min-height: 3.5rem;">
              <div class="media-object-section align-self-middle text-center" style="position:relative; width: 6em;">
                <span class="spot-sapphire"></span>
                <p class="callout small-to-default enlarge">Step 7</p>              
              </div>
              <div class="media-object-section main-section align-self-middle">
                <p class="snug callout small-to-default" style="padding-left: 0;">Inspection and certificate of occupancy</p>
              </div>       
            </div>
            <div class="callout hollow" style="border-top-width: 0;">
             <div class="row collapse text-center">
                <div class="column medium-6"><img src="images/step7_thumb1.jpg" alt=""></div>
                <div class="column medium-6"><img src="images/step7_thumb2.jpg" alt=""></div>
             </div>
             <p class="gutter-top background-white weight-normal">There’s a final inspection by a city or county inspector to ensure that the home is complete and meets all plans, specifications and local code. Once approved, you receive a certificate of occupancy.</p>
            </div>
            <div class="gutter-bottom"></div>
            
            
            <p class="text-center no-margin text-flex-36-52 congrats-yellow">Congratulations! You’re a Homeowner.</p>
          </div>
        </div>
        <div class="gutter-bottom"></div>
      </div>
    </div>
  </div>
</div>