<div class="landing-band">
  <div class="row-container-narrow">
    <div class="row">
      <div class="column">  
        <h1 id="article2" class="accent-sapphire">Building Community One Home at a Time: How Shared Equity Homeownership Benefits Borrowers and Lenders</h1>
        <div class="flex-up">
          <p>By <span class="uppercase">Mike Dawson</span></p>
          <p>Many Americans face a dilemma: they want to buy a home but can’t afford one at today’s prices. Maybe they don’t earn enough income or lack the savings for a down payment. Whatever the reason, they’re locked out of the market.</p>
          <p>One pioneering solution to this problem is shared equity home ownership (SEH). In an era of tight housing inventory and rising home prices, SEH offers would-be buyers a way to become homeowners and lenders an opportunity to support underserved communities.</p>
          <h3>Shared Equity Homeownership at a Glance</h3>
          <p>All organizations in the SEH field work to get families with low to moderate incomes into homes they can afford and then ensure these properties remain in the hands of people in similar circumstances. However, SEH programs, which are typically run by state and local governments and non-profits, are structured in a variety of ways, including as <a data-open="ahFAQModal" aria-controls="ahFAQModal">community land trusts</a> or housing governed by income-based resale restrictions. Here’s how it works: </p>
          <figure>
          <img src="http://via.placeholder.com/800x150" alt=""/>
          <figcaption>graphic describing SEH transactions; forthcoming</figcaption>
          </figure>
          <h3>Things Lenders Should Consider</h3>
          <p>SEH providers have succeeded in building lasting affordable homeownership in communities across the country. But loan funding to support these programs hasn’t kept pace with borrower demand. </p>
          <p>One problem is that it’s not always clear to lenders what role SEH providers play in the process. For example, on the front end, SEH providers screen applicants to make sure they have enough income and that their debts are in order before even qualifying them as candidates for these programs. This gives a lender some baseline information to work with before doing its own due diligence. On the back end, some SEH providers step in when a borrower goes into default, either with counseling or help in selling the home to another qualified buyer. </p>
          <p>When it comes to supporting SEH programs, lenders are also concerned about liquidity—namely the conditions under which they can sell these loans in the secondary market. At Freddie Mac, we recognize that the more lenders understand what we’re willing to do in this area, the more they’ll consider engaging in this type of lending. That’s why, as part of our <a href="/about/duty-to-serve/">Duty to Serve</a> initiative, we are announcing <a href="/singlefamily/guide/bulletins/pdf/bll1816.pdf">updated criteria</a> this month for purchasing shared equity loans. </p>
          <h3>What SEH Programs Can Offer Lenders </h3>
          <p>With a clearer understanding of SEH programs, lenders can extend their reach to more borrowers who need innovative solutions to become homeowners and play a role in supporting permanently affordable housing. In some cases, participating in these programs can also help lenders to achieve their compliance goals tied to the Community Reinvestment Act (CRA). </p>
          <p>Shared equity homeownership is gaining traction because it meets the needs of a growing number of American families—homeownership despite the obstacles of market conditions and lasting affordable housing for generations to come. When it comes to the success of SEH programs, lenders are the linchpin. We believe that, as lenders grow more comfortable with the shared equity homeownership model, they’ll participate more readily in the market. In doing so, lenders stand to play a bigger role in helping lessen the affordability problem confronting so many prospective homebuyers. </p>
          {{> affordable-faqs }}
          </div>
        {{> sf-duty-blog-footer}}  
        </div>
    </div>
  </div>
</div>


