<hr style="border-bottom-width: 2px;">
<div class="row text-flex-16-20 vertical-center-equalizers text-center" data-equalizer  data-equalize-on="large">
  <div class="column large-4" data-equalizer-watch>
    <p class="weight-medium large-text-left full">Every family deserves a home</p>
  </div>
  <div class="column large-4" data-equalizer-watch>
    <p class="full"><a class="button secondary medium" href="/singlefamily/duty-to-serve/">Duty to Serve</a></p>
  </div>
  <div class="column large-4" data-equalizer-watch>
    <p class="large-text-right full"><img style="max-width:173px;max-height:61px;" src="/images/FreddieMacLogo.svg" alt="logo" class="no-border"></p>
  </div>
</div>  