<style>
.opti-slogan h2 {
  font-size: 1.875rem;
  max-width: 15.5rem;
  margin: 0.7em auto;
}
.opt-logo-mobile {
  max-width: 9.6875rem;
  margin: 0 auto;
}
.button-opt-mobile {
  font-size: 0.75rem;
  padding: 1rem 1.2rem;
}
.opt-background-mobile {
  background: transparent url(/corporate/homepage/images/optigo-green750.png) center top/28.125rem 28.125rem no-repeat;
  padding: 9rem 0 1.5rem;
  margin-top: 0.5rem;
}
.opti-wrapper-background {
  background-color: #88BD45;
  overflow: hidden;
}
/* pre-medium */
@media screen and (min-width:28em) {
  .button-opt-mobile {
    font-size: 0.925rem;
  }
  .opti-slogan h2 {
    font-size: 2.25rem;
    max-width: 30rem;
  }
  .opt-background-mobile {
    background-size: 37.5rem 37.5rem;
    padding: 13rem 0 2.5rem;
    margin-top: 1rem;
  }
}

/* medium */
@media screen and (min-width:35.625em) { 
  .opt-background-mobile {
  background-size: 46.875rem 46.875rem;
    padding: 17.25rem 0 4rem;
  }
}

/* large */
@media print,screen and (min-width:61.25em) {
  .opti-wrapper-background {
    background-color: #88BD45;
    background-image: linear-gradient(to right, #88BC23 50%, white 50.1%);
  }
  .opti-wrapper-background .desktop-opti-background {  
    background: transparent url(/corporate/homepage/images/background-950.jpg) 2.75rem 45%/41.25rem 32.9375rem no-repeat;
  }  
  .opti-slogan {
    position:relative;
    min-height: 22rem;
    margin-left: 14.225rem;
    max-width: 16.5rem;
  }
  .opti-slogan h2 {
    position: absolute;
    top: 7.8125rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .opt-logo {
    max-width: 18rem;
    padding: 4.7rem 0 0 2rem;
    text-align: center;
  }
}
/* pre-xlarge */
@media print,screen and (min-width:70.25em) {
  .opti-wrapper-background .desktop-opti-background {  
    background-size: 47.5rem 37.875rem;
  } 
  .opti-slogan {
    min-height: 23rem;
    margin-left: 16.5rem;
    max-width: 18rem;
  }
  .opti-slogan h2 {
    font-size: 2.25rem;
  }
  .opt-logo {
    padding: 4.7rem 2rem 0 2rem;
  }
}
/* xlarge */
@media screen and (min-width:78.75em) {
  .opti-wrapper-background .desktop-opti-background {  
    background-position: 0 42%;
  }  
  .opti-slogan {
    min-height: 24rem;
    margin-left: 13.75rem;
    margin-top: 1rem;
  } 
  .opt-logo {
    padding: 5rem 0 0 7rem;
  } 
}

@media screen and (min-width:82.75em) {
  .opti-wrapper-background .desktop-opti-background {  
    background-size: 53.4375rem 42.625rem;
  } 
  .opt-logo {
    float: right;
    padding-left: 0;
    width: 13.5rem;
  } 
  
  .opti-slogan {
    margin-left: 16.5rem;
  } 
}

/* xxlarge */
@media screen and (min-width:96.75em){
  .opti-wrapper-background .desktop-opti-background { 
    background-size: 58.0625rem 45.875rem; 
    background-position: -1rem 38%;
  } 
  .opti-slogan {
    margin-left: 16rem;
    max-width: 21.75rem;
    margin-top: 2rem;
  } 
  .opti-slogan h2 {
    font-size:2.625rem;
    margin: 0 auto; 
  }
}
</style>

<div class="opti-wrapper-background row-wrapper">
  <div class="row">  
    <div class="xlarge-10 xlarge-centered column">
      <div class="row position-relative gutter-top gutter-bottom-large desktop-opti-background">    
        <div class="column large-9 xlarge-8">
          <div class="opti-slogan">
            <h2 class="accent-white text-center">Optigo further<br class="show-for-small-only"><br class="show-for-medium-only"> with Freddie Mac Multifamily</h2>
          </div>
        </div>
        <div class="column large-3 xlarge-4">
          <p class="gutter-bottom text-center no-margin hide-for-large"><a href="https://mf.freddiemac.com/optigo/" class="button primary button-opt-mobile">Learn More<span class="show-for-sr"> about Optigo</span></a></p>   
          <div class="text-right show-for-large">
            <div class="opt-logo text-center xlarge-text-right">
              <p class="gutter-bottom"><img src="/corporate/homepage/images/OptigoColor-notag.svg" alt="Optigo: Freddie Mac Multifamily" class="no-border"></p>
              <p class="gutter-top"><a href="https://mf.freddiemac.com/optigo/" class="button no-margin">Learn More<span class="show-for-sr"> about Optigo</span></a></p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="opt-background-mobile position-relative hide-for-large">    
    <div class="row">    
      <div class="column">
        <div class="opt-logo-mobile">
          <img src="/corporate/homepage/images/OptigoWhite-notag.svg" alt="Optigo: Freddie Mac Multifamily" class="no-border">
        </div>
      </div>
    </div>
  </div>
</div>


