<div class="hero hero-transformation background-gray row-wrapper">
  <div class="row">
  	<div class="column medium-4"> 
    </div>
    <div class="column medium-8 transform-wrapper"> 
      <h1 class="hero-title">$1.8 Billion <br class="show-for-medium"><span class="no-wrap">in Comprehensive Income</span><br><div class="weight-medium">Serving our mission, delivering results.</div></h1>
      <a href="/about/company/" class="tertiary button hero-button">Learn How</a>
    </div>
  </div>
</div>
<div class="hero-edge"> </div>